In [1]:
import sys
print('python', sys.version)

import numpy as np
print('numpy', np.__version__)

import pandas as pd
print('pandas', pd.__version__)

import matplotlib as mpl
print('matplotlib', mpl.__version__)

import matplotlib.pyplot as plt
plt.rc("font", family="Malgun Gothic") # 한글표시 (window)
plt.rc("axes", unicode_minus=False) # x,y축 (-)부호 표시

# 레티나 디스플레이로 폰트가 선명하게 표시되도록 합니다.
from IPython.display import set_matplotlib_formats
set_matplotlib_formats("retina")

import seaborn as sns
print('seaborn', sns.__version__)

# import folium
import json

# 결과 확인을 용이하게 하기 위한 코드
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = 'all'

# 모든 컬럼이 표시되도록 max_columns 의 수를 지정합니다.
pd.options.display.max_columns = 39

python 3.8.5 (default, May 27 2021, 13:30:53)
[GCC 9.3.0]
numpy 1.19.5
pandas 1.2.5
matplotlib 3.4.2

<ipython-input-1-e03686665c0d>:19: DeprecationWarning: `set_matplotlib_formats` is deprecated since IPython 7.23, directly use `matplotlib_inline.backend_inline.set_matplotlib_formats()`
  set_matplotlib_formats("retina")

seaborn 0.11.1

In [90]:
# import pandas as pd


# patient = pd.read_csv('/data/MIMIC_III/PATIENTS.csv') #환자정보_입원환자만, DOD가 죽은 날짜 Day of DEATH #죽은 날짜는 안봐도 됨.
# cpt = pd.read_csv('../data/MIMIC_III_data/CPTEVENTS.csv')
# lab = pd.read_csv('/data/MIMIC_III/LABEVENTS.csv') #외래환자포함 #죽은 날짜 기준으로 charttime 보는 것 #abnormal이 1임
diagnoses_icd = pd.read_csv('/data/MIMIC_III/DIAGNOSES_ICD.csv') #환자있음 #dis
diagnoses = pd.read_csv('/data/MIMIC_III/D_ICD_DIAGNOSES.csv') #병이름 소개 #d_icd
process_data = pd.read_csv('../guri/data/process_data.csv')

lab = pd.read_csv('/project/data/폐렴환자lab.csv')
patient = pd.read_csv('/project/data/폐렴환자.csv')

In [3]:
lab
patient

           ROW_ID  SUBJECT_ID   HADM_ID  ITEMID            CHARTTIME      FLAG
0            5144           9  150750.0   50819  2149-11-14 06:07:00       NaN
1            5145           9  150750.0   50820  2149-11-14 06:07:00       NaN
2            5146           9  150750.0   50821  2149-11-14 06:07:00  abnormal
3            5147           9  150750.0   50826  2149-11-14 06:07:00       NaN
4            5148           9  150750.0   50827  2149-11-14 06:07:00       NaN
...           ...         ...       ...     ...                  ...       ...
9356344  27427231       96442  120151.0   51248  2115-06-29 04:45:00       NaN
9356345  27427232       96442  120151.0   51249  2115-06-29 04:45:00       NaN
9356346  27427233       96442  120151.0   51250  2115-06-29 04:45:00       NaN
9356347  27427234       96442  120151.0   51254  2115-06-29 04:45:00  abnormal
9356348  27427235       96442  120151.0   51256  2115-06-29 04:45:00  abnormal

[9356349 rows x 6 columns]

,ROW_ID,SUBJECT_ID,GENDER,DOB,DOD,DOD_HOSP,DOD_SSN,EXPIRE_FLAG
0,237,252,M,2078-03-06 00:00:00,NaN,NaN,NaN,0
1,238,253,F,2089-11-26 00:00:00,NaN,NaN,NaN,0
2,251,268,F,2132-02-21 00:00:00,2198-02-18 00:00:00,2198-02-18 00:00:00,NaN,1
3,252,269,M,2130-09-30 00:00:00,NaN,NaN,NaN,0
4,628,665,M,2052-05-20 00:00:00,2120-02-04 00:00:00,2120-02-04 00:00:00,NaN,1
...,...,...,...,...,...,...,...,...
7802,31801,43932,M,2080-06-26 00:00:00,2153-03-01 00:00:00,NaN,2153-03-01 00:00:00,1
7803,31802,43937,M,2113-03-30 00:00:00,2200-08-05 00:00:00,2200-08-05 00:00:00,2200-08-05 00:00:00,1
7804,31807,43959,F,2028-05-13 00:00:00,NaN,NaN,NaN,0
7805,31813,43982,F,2065-04-17 00:00:00,NaN,NaN,NaN,0
7806,31832,44064,M,2115-11-18 00:00:00,NaN,NaN,NaN,0

In [4]:
#시간 부분 제거, 날짜만 남기기
import datetime as dt

patient['DOD'] = pd.to_datetime(patient['DOD'])
patient['DOD'] = patient['DOD'].dt.date
patient

,ROW_ID,SUBJECT_ID,GENDER,DOB,DOD,DOD_HOSP,DOD_SSN,EXPIRE_FLAG
0,237,252,M,2078-03-06 00:00:00,NaT,NaN,NaN,0
1,238,253,F,2089-11-26 00:00:00,NaT,NaN,NaN,0
2,251,268,F,2132-02-21 00:00:00,2198-02-18,2198-02-18 00:00:00,NaN,1
3,252,269,M,2130-09-30 00:00:00,NaT,NaN,NaN,0
4,628,665,M,2052-05-20 00:00:00,2120-02-04,2120-02-04 00:00:00,NaN,1
...,...,...,...,...,...,...,...,...
7802,31801,43932,M,2080-06-26 00:00:00,2153-03-01,NaN,2153-03-01 00:00:00,1
7803,31802,43937,M,2113-03-30 00:00:00,2200-08-05,2200-08-05 00:00:00,2200-08-05 00:00:00,1
7804,31807,43959,F,2028-05-13 00:00:00,NaT,NaN,NaN,0
7805,31813,43982,F,2065-04-17 00:00:00,NaT,NaN,NaN,0
7806,31832,44064,M,2115-11-18 00:00:00,NaT,NaN,NaN,0

In [5]:
patient[patient['SUBJECT_ID']==9]

,ROW_ID,SUBJECT_ID,GENDER,DOB,DOD,DOD_HOSP,DOD_SSN,EXPIRE_FLAG
40,8,9,M,2108-01-26 00:00:00,2149-11-14,2149-11-14 00:00:00,2149-11-14 00:00:00,1

In [6]:
patient_sorted = patient[['SUBJECT_ID', 'EXPIRE_FLAG']].set_index('SUBJECT_ID').sort_values(['SUBJECT_ID'])#, inplace = True)
patient_sorted

            EXPIRE_FLAG
SUBJECT_ID
9                     1
21                    1
31                    1
36                    0
37                    1
...                 ...
99863                 0
99934                 0
99937                 1
99944                 1
99985                 0

[7807 rows x 1 columns]

In [92]:
# patient
lab

# #시간 부분 제거, 날짜만 남기기 (중복 제거 전에 원래 쓴거...)
# import datetime as dt
# lab['CHARTTIME'] = pd.to_datetime(lab['CHARTTIME'])
# lab['CHARTTIME'] = lab['CHARTTIME'].dt.date
# lab

# lab_sorted = lab[['SUBJECT_ID', 'CHARTTIME', 'ITEMID', 'FLAG']].set_index('SUBJECT_ID').sort_values(['SUBJECT_ID', 'CHARTTIME'])#, inplace = True)

lab_sorted_ = lab[['SUBJECT_ID', 'CHARTTIME', 'ITEMID', 'FLAG']].drop_duplicates()
lab_sorted_

import datetime as dt
lab_sorted_['CHARTTIME'] = pd.to_datetime(lab_sorted_['CHARTTIME'])
lab_sorted_['CHARTTIME'] = lab_sorted_['CHARTTIME'].dt.date
lab_sorted_

lab_sorted = lab_sorted_.set_index('SUBJECT_ID').sort_values(['SUBJECT_ID', 'CHARTTIME'])#, inplace = True)

# lab.drop(columns = ['ROW_ID', 'HADM_ID', "ITEMID", "VALUE"])

           ROW_ID  SUBJECT_ID   HADM_ID  ITEMID            CHARTTIME      FLAG
0            5144           9  150750.0   50819  2149-11-14 06:07:00       NaN
1            5145           9  150750.0   50820  2149-11-14 06:07:00       NaN
2            5146           9  150750.0   50821  2149-11-14 06:07:00  abnormal
3            5147           9  150750.0   50826  2149-11-14 06:07:00       NaN
4            5148           9  150750.0   50827  2149-11-14 06:07:00       NaN
...           ...         ...       ...     ...                  ...       ...
9356344  27427231       96442  120151.0   51248  2115-06-29 04:45:00       NaN
9356345  27427232       96442  120151.0   51249  2115-06-29 04:45:00       NaN
9356346  27427233       96442  120151.0   51250  2115-06-29 04:45:00       NaN
9356347  27427234       96442  120151.0   51254  2115-06-29 04:45:00  abnormal
9356348  27427235       96442  120151.0   51256  2115-06-29 04:45:00  abnormal

[9356349 rows x 6 columns]

         SUBJECT_ID            CHARTTIME  ITEMID      FLAG
0                 9  2149-11-14 06:07:00   50819       NaN
1                 9  2149-11-14 06:07:00   50820       NaN
2                 9  2149-11-14 06:07:00   50821  abnormal
3                 9  2149-11-14 06:07:00   50826       NaN
4                 9  2149-11-14 06:07:00   50827       NaN
...             ...                  ...     ...       ...
9356344       96442  2115-06-29 04:45:00   51248       NaN
9356345       96442  2115-06-29 04:45:00   51249       NaN
9356346       96442  2115-06-29 04:45:00   51250       NaN
9356347       96442  2115-06-29 04:45:00   51254  abnormal
9356348       96442  2115-06-29 04:45:00   51256  abnormal

[9350027 rows x 4 columns]

         SUBJECT_ID   CHARTTIME  ITEMID      FLAG
0                 9  2149-11-14   50819       NaN
1                 9  2149-11-14   50820       NaN
2                 9  2149-11-14   50821  abnormal
3                 9  2149-11-14   50826       NaN
4                 9  2149-11-14   50827       NaN
...             ...         ...     ...       ...
9356344       96442  2115-06-29   51248       NaN
9356345       96442  2115-06-29   51249       NaN
9356346       96442  2115-06-29   51250       NaN
9356347       96442  2115-06-29   51254  abnormal
9356348       96442  2115-06-29   51256  abnormal

[9350027 rows x 4 columns]

In [93]:
lab_sorted_

         SUBJECT_ID   CHARTTIME  ITEMID      FLAG
0                 9  2149-11-14   50819       NaN
1                 9  2149-11-14   50820       NaN
2                 9  2149-11-14   50821  abnormal
3                 9  2149-11-14   50826       NaN
4                 9  2149-11-14   50827       NaN
...             ...         ...     ...       ...
9356344       96442  2115-06-29   51248       NaN
9356345       96442  2115-06-29   51249       NaN
9356346       96442  2115-06-29   51250       NaN
9356347       96442  2115-06-29   51254  abnormal
9356348       96442  2115-06-29   51256  abnormal

[9350027 rows x 4 columns]

In [94]:
lab_sorted['FLAG'].replace('abnormal', 1, inplace = True) #abnormal을 1로 바꿔주는 코드

lab_sorted[lab_sorted.index==9]['CHARTTIME'].max() #lab기록의 마지막 날짜 DOD랑 같은지 확인하려고 친 코드

datetime.date(2149, 11, 14)

In [95]:
lab_sorted[lab_sorted.index==9].tail(10)

             CHARTTIME  ITEMID FLAG
SUBJECT_ID
9           2149-11-14   51279    1
9           2149-11-14   51301    1
9           2149-11-14   50800  NaN
9           2149-11-14   50802  NaN
9           2149-11-14   50804  NaN
9           2149-11-14   50808    1
9           2149-11-14   50812  NaN
9           2149-11-14   50813  NaN
9           2149-11-14   50816  NaN
9           2149-11-14   50818  NaN

In [10]:
lab_sorted[lab_sorted.index==9]['CHARTTIME'].unique()[-10:]

array([datetime.date(2149, 11, 9), datetime.date(2149, 11, 10),
       datetime.date(2149, 11, 11), datetime.date(2149, 11, 12),
       datetime.date(2149, 11, 13), datetime.date(2149, 11, 14)],
      dtype=object)

In [11]:
lab_sorted.index.unique()

Int64Index([    9,    21,    31,    36,    37,    41,    68,    85,    94,
              101,
            ...
            99666, 99781, 99817, 99822, 99836, 99863, 99934, 99937, 99944,
            99985],
           dtype='int64', name='SUBJECT_ID', length=7799)

In [13]:
# pd.merge(left=lab_sorted, right= patient_sorted, how='inner', left_on=lab_sorted.index, right_on=patient_sorted.index)#, axis = 1)
#이 cell 안쓸거임
#https://yganalyst.github.io/data_handling/Pd_12/

In [12]:
#expire_flag는 y(label)값. 함께 보려고 lab과 patient 쓰는 것만 붙여줌.
merge_lab_pat = pd.merge(left=lab_sorted, right= patient_sorted, how='inner', left_index=True,right_index=True)

In [81]:
# merge_lab_pat.drop_duplicates(inplace = True) #순서가 여기가 아님

In [79]:
merge_lab_pat

             CHARTTIME  ITEMID FLAG  EXPIRE_FLAG
SUBJECT_ID
9           2149-11-09   50856  NaN            1
9           2149-11-09   50868  NaN            1
9           2149-11-09   50879  NaN            1
9           2149-11-09   50880  NaN            1
9           2149-11-09   50882    1            1
...                ...     ...  ...          ...
99985       2182-03-14   50993  NaN            0
99985       2182-03-14   51000  NaN            0
99985       2182-03-14   51006    1            0
99985       2182-03-14   51146  NaN            0
99985       2182-03-14   51200  NaN            0

[4551651 rows x 4 columns]

In [13]:
# value가 그냥 들어있음.
dic = {}
for i in lab_sorted.index.unique():
    dic[i] = lab_sorted[lab_sorted.index==i]['CHARTTIME'].unique()[-10:]
#     lab_sorted[lab_sorted.index==i]['CHARTTIME'].unique()

In [14]:
dic

{9: array([datetime.date(2149, 11, 9), datetime.date(2149, 11, 10),
        datetime.date(2149, 11, 11), datetime.date(2149, 11, 12),
        datetime.date(2149, 11, 13), datetime.date(2149, 11, 14)],
       dtype=object),
 21: array([datetime.date(2135, 1, 10), datetime.date(2135, 1, 11),
        datetime.date(2135, 1, 30), datetime.date(2135, 1, 31),
        datetime.date(2135, 2, 1), datetime.date(2135, 2, 2),
        datetime.date(2135, 2, 3), datetime.date(2135, 2, 4),
        datetime.date(2135, 2, 5), datetime.date(2135, 2, 6)], dtype=object),
 31: array([datetime.date(2108, 8, 22), datetime.date(2108, 8, 23),
        datetime.date(2108, 8, 24), datetime.date(2108, 8, 25),
        datetime.date(2108, 8, 26), datetime.date(2108, 8, 27),
        datetime.date(2108, 8, 28), datetime.date(2108, 8, 29),
        datetime.date(2108, 8, 30)], dtype=object),
 36: array([datetime.date(2134, 5, 11), datetime.date(2134, 5, 12),
        datetime.date(2134, 5, 13), datetime.date(2134, 5, 14),
        datetime.date(2134, 5, 15), datetime.date(2134, 5, 16),
        datetime.date(2134, 5, 17), datetime.date(2134, 5, 18),
        datetime.date(2134, 5, 19), datetime.date(2134, 5, 20)],
       dtype=object),
 37: array([datetime.date(2183, 8, 21), datetime.date(2183, 8, 22),
        datetime.date(2183, 8, 23), datetime.date(2183, 8, 24),
        datetime.date(2183, 8, 25), datetime.date(2183, 8, 26),
        datetime.date(2183, 10, 7), datetime.date(2184, 4, 27)],
       dtype=object),
 41: array([datetime.date(2133, 1, 18), datetime.date(2133, 1, 19),
        datetime.date(2133, 1, 20), datetime.date(2133, 1, 21),
        datetime.date(2133, 1, 22), datetime.date(2133, 1, 23),
        datetime.date(2133, 1, 24), datetime.date(2133, 1, 25),
        datetime.date(2133, 1, 26), datetime.date(2133, 1, 27)],
       dtype=object),
 68: array([datetime.date(2174, 1, 9), datetime.date(2174, 1, 10),
        datetime.date(2174, 1, 11), datetime.date(2174, 1, 12),
        datetime.date(2174, 1, 13), datetime.date(2174, 1, 14),
        datetime.date(2174, 1, 15), datetime.date(2174, 1, 16),
        datetime.date(2174, 1, 17), datetime.date(2174, 1, 18)],
       dtype=object),
 85: array([datetime.date(2162, 3, 10), datetime.date(2162, 3, 23),
        datetime.date(2162, 7, 20), datetime.date(2162, 8, 19),
        datetime.date(2167, 7, 25), datetime.date(2167, 7, 26),
        datetime.date(2167, 7, 27), datetime.date(2167, 7, 28),
        datetime.date(2167, 7, 29), datetime.date(2167, 7, 30)],
       dtype=object),
 94: array([datetime.date(2176, 9, 10), datetime.date(2176, 9, 11),
        datetime.date(2176, 9, 12), datetime.date(2176, 9, 13),
        datetime.date(2176, 9, 14), datetime.date(2176, 9, 15),
        datetime.date(2176, 9, 16), datetime.date(2176, 9, 17),
        datetime.date(2176, 9, 18), datetime.date(2176, 9, 19)],
       dtype=object),
 101: array([datetime.date(2196, 9, 28), datetime.date(2196, 9, 29),
        datetime.date(2196, 9, 30), datetime.date(2196, 10, 1),
        datetime.date(2196, 10, 2), datetime.date(2196, 10, 3),
        datetime.date(2196, 10, 4), datetime.date(2196, 10, 5),
        datetime.date(2196, 10, 6), datetime.date(2196, 10, 7)],
       dtype=object),
 103: array([datetime.date(2144, 8, 12), datetime.date(2144, 8, 13),
        datetime.date(2144, 8, 14), datetime.date(2144, 8, 15),
        datetime.date(2144, 8, 16), datetime.date(2144, 8, 17),
        datetime.date(2144, 8, 18), datetime.date(2144, 8, 30),
        datetime.date(2144, 8, 31)], dtype=object),
 105: array([datetime.date(2189, 1, 29), datetime.date(2189, 1, 30),
        datetime.date(2189, 1, 31), datetime.date(2189, 2, 1),
        datetime.date(2189, 2, 2), datetime.date(2189, 2, 20),
        datetime.date(2189, 2, 21), datetime.date(2189, 2, 23),
        datetime.date(2189, 2, 24), datetime.date(2189, 2, 25)],
       dtype=object),
 109: array([datetime.date(2142, 7, 19), datetime.date(2142, 7, 20),
        datetime.date(2142, 7, 21), datetime.date(2142, 7, 22),
        datetime.date(2142, 8, 13), datetime.date(2142, 8, 14),
        datetime.date(2142, 8, 16), datetime.date(2142, 8, 28),
        datetime.date(2142, 8, 29), datetime.date(2142, 8, 30)],
       dtype=object),
 111: array([datetime.date(2142, 4, 28), datetime.date(2142, 4, 29),
        datetime.date(2142, 4, 30), datetime.date(2142, 5, 1),
        datetime.date(2142, 5, 2), datetime.date(2142, 5, 3),
        datetime.date(2142, 5, 4), datetime.date(2142, 8, 22),
        datetime.date(2143, 4, 17), datetime.date(2144, 7, 1)],
       dtype=object),
 112: array([datetime.date(2194, 6, 13), datetime.date(2194, 6, 14),
        datetime.date(2194, 6, 15), datetime.date(2194, 6, 16),
        datetime.date(2194, 6, 17), datetime.date(2194, 7, 25),
        datetime.date(2194, 11, 17), datetime.date(2195, 3, 24),
        datetime.date(2196, 9, 27), datetime.date(2196, 9, 28)],
       dtype=object),
 117: array([datetime.date(2133, 11, 22), datetime.date(2133, 11, 23),
        datetime.date(2133, 11, 24), datetime.date(2133, 11, 25),
        datetime.date(2133, 11, 26), datetime.date(2133, 11, 27),
        datetime.date(2133, 11, 28), datetime.date(2133, 11, 29),
        datetime.date(2133, 11, 30), datetime.date(2133, 12, 1)],
       dtype=object),
 124: array([datetime.date(2166, 1, 20), datetime.date(2166, 1, 21),
        datetime.date(2166, 1, 22), datetime.date(2166, 1, 23),
        datetime.date(2166, 1, 24), datetime.date(2166, 1, 25),
        datetime.date(2166, 1, 26), datetime.date(2166, 1, 27),
        datetime.date(2166, 1, 28), datetime.date(2166, 1, 29)],
       dtype=object),
 136: array([datetime.date(2103, 4, 20), datetime.date(2103, 5, 9),
        datetime.date(2103, 5, 10), datetime.date(2103, 5, 11),
        datetime.date(2103, 5, 12), datetime.date(2103, 5, 14),
        datetime.date(2103, 6, 18)], dtype=object),
 148: array([datetime.date(2107, 9, 29), datetime.date(2107, 9, 30),
        datetime.date(2107, 10, 1), datetime.date(2107, 10, 2),
        datetime.date(2107, 10, 3), datetime.date(2107, 10, 4),
        datetime.date(2107, 10, 5), datetime.date(2107, 10, 6),
        datetime.date(2107, 10, 7), datetime.date(2107, 10, 8)],
       dtype=object),
 156: array([datetime.date(2121, 1, 26), datetime.date(2121, 1, 27),
        datetime.date(2121, 2, 26), datetime.date(2121, 3, 1),
        datetime.date(2121, 3, 2), datetime.date(2121, 3, 3),
        datetime.date(2121, 3, 19), datetime.date(2121, 3, 31),
        datetime.date(2121, 4, 14), datetime.date(2121, 5, 14)],
       dtype=object),
 157: array([datetime.date(2106, 5, 29), datetime.date(2106, 5, 30),
        datetime.date(2106, 6, 17), datetime.date(2106, 6, 18),
        datetime.date(2106, 6, 19), datetime.date(2106, 6, 20),
        datetime.date(2106, 6, 21), datetime.date(2106, 6, 22),
        datetime.date(2106, 6, 23), datetime.date(2106, 6, 24)],
       dtype=object),
 164: array([datetime.date(2117, 1, 6), datetime.date(2117, 1, 7),
        datetime.date(2117, 1, 8), datetime.date(2117, 1, 9),
        datetime.date(2117, 1, 10), datetime.date(2117, 1, 11),
        datetime.date(2117, 1, 12), datetime.date(2117, 1, 13),
        datetime.date(2117, 1, 14), datetime.date(2117, 1, 15)],
       dtype=object),
 166: array([datetime.date(2105, 1, 23), datetime.date(2105, 1, 24)],
       dtype=object),
 175: array([datetime.date(2183, 12, 29), datetime.date(2184, 1, 21),
        datetime.date(2184, 1, 22), datetime.date(2184, 1, 23),
        datetime.date(2184, 1, 24), datetime.date(2184, 1, 25),
        datetime.date(2184, 1, 26), datetime.date(2184, 1, 27),
        datetime.date(2184, 1, 28), datetime.date(2184, 1, 29)],
       dtype=object),
 177: array([datetime.date(2125, 12, 3), datetime.date(2125, 12, 4),
        datetime.date(2125, 12, 5), datetime.date(2125, 12, 6),
        datetime.date(2125, 12, 7), datetime.date(2125, 12, 8),
        datetime.date(2125, 12, 9), datetime.date(2125, 12, 10),
        datetime.date(2125, 12, 11), datetime.date(2125, 12, 12)],
       dtype=object),
 184: array([datetime.date(2168, 5, 3), datetime.date(2168, 5, 4),
        datetime.date(2168, 5, 5), datetime.date(2168, 5, 6),
        datetime.date(2168, 5, 7), datetime.date(2168, 5, 8),
        datetime.date(2168, 5, 9), datetime.date(2168, 5, 10),
        datetime.date(2168, 5, 11), datetime.date(2168, 5, 12)],
       dtype=object),
 186: array([datetime.date(2176, 10, 1), datetime.date(2176, 10, 14),
        datetime.date(2176, 11, 18), datetime.date(2177, 1, 15),
        datetime.date(2177, 1, 16), datetime.date(2177, 1, 17),
        datetime.date(2177, 1, 30), datetime.date(2177, 1, 31),
        datetime.date(2177, 2, 1), datetime.date(2177, 2, 19)],
       dtype=object),
 188: array([datetime.date(2162, 1, 7), datetime.date(2162, 1, 8),
        datetime.date(2162, 1, 9), datetime.date(2162, 1, 10),
        datetime.date(2162, 1, 11), datetime.date(2162, 1, 12),
        datetime.date(2162, 1, 13), datetime.date(2162, 1, 14),
        datetime.date(2162, 1, 15), datetime.date(2162, 1, 16)],
       dtype=object),
 191: array([datetime.date(2196, 4, 12), datetime.date(2196, 4, 13),
        datetime.date(2196, 4, 14), datetime.date(2196, 4, 15),
        datetime.date(2196, 4, 16), datetime.date(2196, 4, 17),
        datetime.date(2196, 4, 18), datetime.date(2196, 4, 19),
        datetime.date(2196, 4, 20), datetime.date(2196, 4, 21)],
       dtype=object),
 203: array([datetime.date(2160, 4, 28), datetime.date(2160, 4, 29),
        datetime.date(2160, 4, 30), datetime.date(2160, 5, 1),
        datetime.date(2160, 5, 2), datetime.date(2160, 5, 3),
        datetime.date(2160, 5, 4), datetime.date(2160, 5, 5),
        datetime.date(2160, 5, 6), datetime.date(2160, 5, 7)], dtype=object),
 208: array([datetime.date(2188, 5, 13), datetime.date(2188, 5, 14),
        datetime.date(2188, 5, 15), datetime.date(2188, 5, 16),
        datetime.date(2188, 5, 17), datetime.date(2188, 5, 18),
        datetime.date(2188, 5, 19)], dtype=object),
 211: array([datetime.date(2197, 12, 20), datetime.date(2197, 12, 21),
        datetime.date(2197, 12, 22), datetime.date(2197, 12, 23),
        datetime.date(2197, 12, 24), datetime.date(2197, 12, 25),
        datetime.date(2197, 12, 26), datetime.date(2197, 12, 27),
        datetime.date(2197, 12, 28), datetime.date(2197, 12, 29)],
       dtype=object),
 214: array([datetime.date(2188, 10, 27), datetime.date(2188, 10, 28),
        datetime.date(2188, 10, 29), datetime.date(2188, 10, 30),
        datetime.date(2188, 10, 31), datetime.date(2188, 11, 1),
        datetime.date(2188, 11, 2), datetime.date(2188, 11, 3),
        datetime.date(2188, 11, 4), datetime.date(2188, 11, 25)],
       dtype=object),
 221: array([datetime.date(2103, 12, 14), datetime.date(2103, 12, 15),
        datetime.date(2103, 12, 16), datetime.date(2103, 12, 17),
        datetime.date(2103, 12, 18), datetime.date(2103, 12, 19),
        datetime.date(2103, 12, 20), datetime.date(2103, 12, 21),
        datetime.date(2103, 12, 22), datetime.date(2103, 12, 23)],
       dtype=object),
 222: array([datetime.date(2143, 1, 9), datetime.date(2143, 1, 10),
        datetime.date(2143, 1, 11), datetime.date(2143, 1, 12),
        datetime.date(2143, 1, 13), datetime.date(2143, 1, 14),
        datetime.date(2143, 1, 29), datetime.date(2143, 2, 16),
        datetime.date(2143, 2, 17), datetime.date(2143, 2, 18)],
       dtype=object),
 223: array([datetime.date(2157, 5, 29), datetime.date(2157, 5, 30),
        datetime.date(2157, 5, 31), datetime.date(2157, 6, 1),
        datetime.date(2157, 6, 2), datetime.date(2157, 6, 3),
        datetime.date(2157, 6, 4), datetime.date(2157, 6, 5),
        datetime.date(2157, 6, 8), datetime.date(2157, 6, 30)],
       dtype=object),
 224: array([datetime.date(2151, 4, 1), datetime.date(2151, 4, 2)], dtype=object),
 225: array([datetime.date(2168, 6, 27), datetime.date(2168, 6, 28),
        datetime.date(2168, 6, 29), datetime.date(2168, 6, 30),
        datetime.date(2168, 7, 1), datetime.date(2168, 7, 6),
        datetime.date(2168, 7, 12), datetime.date(2168, 7, 26),
        datetime.date(2168, 9, 19), datetime.date(2168, 11, 22)],
       dtype=object),
 231: array([datetime.date(2176, 8, 21), datetime.date(2176, 8, 29),
        datetime.date(2176, 10, 9), datetime.date(2177, 2, 17),
        datetime.date(2177, 3, 3), datetime.date(2177, 4, 26),
        datetime.date(2178, 8, 6), datetime.date(2178, 8, 7),
        datetime.date(2178, 8, 8), datetime.date(2178, 8, 9)], dtype=object),
 242: array([datetime.date(2122, 1, 16), datetime.date(2122, 1, 17),
        datetime.date(2122, 1, 18), datetime.date(2122, 1, 19),
        datetime.date(2122, 1, 20), datetime.date(2122, 3, 30),
        datetime.date(2122, 3, 31), datetime.date(2122, 4, 2),
        datetime.date(2122, 4, 5)], dtype=object),
 248: array([datetime.date(2142, 10, 26), datetime.date(2142, 10, 27),
        datetime.date(2142, 10, 28), datetime.date(2142, 10, 29),
        datetime.date(2142, 10, 31), datetime.date(2142, 11, 1),
        datetime.date(2142, 11, 2), datetime.date(2142, 11, 3),
        datetime.date(2142, 11, 5), datetime.date(2142, 11, 6)],
       dtype=object),
 252: array([datetime.date(2133, 4, 23), datetime.date(2133, 8, 12),
        datetime.date(2133, 8, 15), datetime.date(2133, 8, 16),
        datetime.date(2133, 8, 17), datetime.date(2133, 8, 18),
        datetime.date(2133, 8, 19), datetime.date(2133, 10, 28),
        datetime.date(2133, 12, 25), datetime.date(2134, 2, 26)],
       dtype=object),
 253: array([datetime.date(2174, 1, 21), datetime.date(2174, 1, 22),
        datetime.date(2174, 1, 23), datetime.date(2174, 1, 24),
        datetime.date(2174, 1, 25), datetime.date(2174, 1, 26)],
       dtype=object),
 268: array([datetime.date(2198, 2, 2), datetime.date(2198, 2, 3),
        datetime.date(2198, 2, 4), datetime.date(2198, 2, 11),
        datetime.date(2198, 2, 12), datetime.date(2198, 2, 13),
        datetime.date(2198, 2, 14), datetime.date(2198, 2, 15),
        datetime.date(2198, 2, 16), datetime.date(2198, 2, 17)],
       dtype=object),
 269: array([datetime.date(2170, 11, 19), datetime.date(2170, 11, 20),
        datetime.date(2170, 11, 21), datetime.date(2170, 11, 22),
        datetime.date(2170, 11, 23), datetime.date(2170, 11, 25),
        datetime.date(2170, 11, 26), datetime.date(2170, 11, 30),
        datetime.date(2170, 12, 1), datetime.date(2170, 12, 2)],
       dtype=object),
 274: array([datetime.date(2119, 10, 12), datetime.date(2119, 11, 21),
        datetime.date(2119, 12, 1), datetime.date(2119, 12, 21),
        datetime.date(2120, 1, 8), datetime.date(2120, 1, 16),
        datetime.date(2120, 1, 17), datetime.date(2120, 2, 7),
        datetime.date(2120, 2, 13), datetime.date(2120, 5, 2)],
       dtype=object),
 283: array([datetime.date(2166, 9, 9), datetime.date(2166, 9, 10),
        datetime.date(2166, 9, 11), datetime.date(2166, 9, 12),
        datetime.date(2166, 10, 2), datetime.date(2166, 10, 3),
        datetime.date(2166, 10, 4), datetime.date(2166, 10, 5),
        datetime.date(2166, 10, 6), datetime.date(2166, 10, 7)],
       dtype=object),
 286: array([datetime.date(2176, 2, 18), datetime.date(2176, 2, 19),
        datetime.date(2176, 2, 20), datetime.date(2176, 2, 21),
        datetime.date(2176, 2, 22), datetime.date(2176, 2, 23),
        datetime.date(2176, 2, 24), datetime.date(2176, 4, 10),
        datetime.date(2176, 4, 11), datetime.date(2176, 4, 12)],
       dtype=object),
 290: array([datetime.date(2179, 1, 28), datetime.date(2179, 1, 29),
        datetime.date(2179, 1, 30), datetime.date(2179, 1, 31),
        datetime.date(2179, 2, 1), datetime.date(2179, 2, 3),
        datetime.date(2179, 2, 4), datetime.date(2179, 2, 5),
        datetime.date(2179, 2, 6), datetime.date(2179, 2, 7)], dtype=object),
 303: array([datetime.date(2160, 3, 17), datetime.date(2160, 3, 18),
        datetime.date(2163, 3, 29), datetime.date(2163, 3, 30),
        datetime.date(2163, 3, 31), datetime.date(2163, 4, 1),
        datetime.date(2163, 4, 2), datetime.date(2163, 4, 3),
        datetime.date(2163, 4, 4)], dtype=object),
 305: array([datetime.date(2129, 8, 29), datetime.date(2129, 8, 30),
        datetime.date(2129, 8, 31), datetime.date(2129, 9, 1),
        datetime.date(2129, 9, 2), datetime.date(2129, 9, 3),
        datetime.date(2129, 9, 4), datetime.date(2129, 9, 5),
        datetime.date(2129, 9, 6), datetime.date(2129, 9, 7)], dtype=object),
 308: array([datetime.date(2135, 10, 10), datetime.date(2135, 10, 11),
        datetime.date(2135, 10, 12), datetime.date(2135, 10, 13),
        datetime.date(2135, 10, 14), datetime.date(2135, 10, 15),
        datetime.date(2135, 10, 16), datetime.date(2135, 10, 17),
        datetime.date(2135, 10, 18), datetime.date(2135, 10, 19)],
       dtype=object),
 323: array([datetime.date(2119, 10, 4), datetime.date(2119, 10, 5),
        datetime.date(2119, 10, 6), datetime.date(2120, 1, 11),
        datetime.date(2120, 1, 12), datetime.date(2120, 1, 13),
        datetime.date(2120, 1, 14), datetime.date(2120, 1, 15),
        datetime.date(2120, 1, 16), datetime.date(2120, 1, 17)],
       dtype=object),
 328: array([datetime.date(2157, 2, 3), datetime.date(2157, 2, 4),
        datetime.date(2157, 2, 5), datetime.date(2157, 2, 6),
        datetime.date(2157, 2, 7), datetime.date(2157, 3, 24),
        datetime.date(2157, 4, 10), datetime.date(2157, 4, 11),
        datetime.date(2157, 4, 21), datetime.date(2157, 5, 2)],
       dtype=object),
 330: array([datetime.date(2133, 3, 15), datetime.date(2133, 3, 16),
        datetime.date(2133, 3, 17), datetime.date(2133, 3, 18),
        datetime.date(2133, 3, 19), datetime.date(2133, 3, 20),
        datetime.date(2133, 3, 21), datetime.date(2133, 3, 22),
        datetime.date(2133, 3, 23), datetime.date(2133, 3, 24)],
       dtype=object),
 346: array([datetime.date(2148, 12, 7), datetime.date(2148, 12, 8),
        datetime.date(2148, 12, 9), datetime.date(2148, 12, 10),
        datetime.date(2149, 3, 27), datetime.date(2149, 11, 29),
        datetime.date(2149, 11, 30), datetime.date(2149, 12, 1),
        datetime.date(2149, 12, 2), datetime.date(2149, 12, 3)],
       dtype=object),
 356: array([datetime.date(2132, 8, 13), datetime.date(2132, 8, 31),
        datetime.date(2132, 9, 1), datetime.date(2132, 9, 2),
        datetime.date(2132, 9, 3), datetime.date(2132, 9, 4),
        datetime.date(2132, 9, 5), datetime.date(2132, 9, 6),
        datetime.date(2132, 9, 7), datetime.date(2132, 9, 8)], dtype=object),
 357: array([datetime.date(2200, 1, 7), datetime.date(2200, 1, 8),
        datetime.date(2200, 1, 9), datetime.date(2200, 1, 10),
        datetime.date(2200, 1, 11), datetime.date(2200, 1, 12),
        datetime.date(2200, 1, 13), datetime.date(2200, 1, 14),
        datetime.date(2200, 1, 15), datetime.date(2200, 1, 17)],
       dtype=object),
 360: array([datetime.date(2176, 6, 25), datetime.date(2176, 6, 26),
        datetime.date(2176, 6, 27), datetime.date(2176, 6, 28),
        datetime.date(2176, 6, 29), datetime.date(2176, 6, 30),
        datetime.date(2176, 7, 1), datetime.date(2176, 7, 2)], dtype=object),
 364: array([datetime.date(2130, 5, 22), datetime.date(2130, 5, 23),
        datetime.date(2130, 5, 24), datetime.date(2130, 5, 25),
        datetime.date(2130, 5, 26), datetime.date(2130, 5, 27),
        datetime.date(2130, 5, 28), datetime.date(2130, 5, 29),
        datetime.date(2130, 5, 30), datetime.date(2130, 6, 5)],
       dtype=object),
 366: array([datetime.date(2164, 11, 18), datetime.date(2164, 11, 19)],
       dtype=object),
 368: array([datetime.date(2138, 5, 1), datetime.date(2138, 5, 2),
        datetime.date(2138, 5, 3), datetime.date(2139, 12, 16),
        datetime.date(2139, 12, 17), datetime.date(2139, 12, 18),
        datetime.date(2139, 12, 19), datetime.date(2139, 12, 20),
        datetime.date(2139, 12, 21), datetime.date(2139, 12, 22)],

# 10개 안뽑혀있음..

In [15]:
data = merge_lab_pat.copy()
data1 = data[:30]
data1

             CHARTTIME  ITEMID FLAG  EXPIRE_FLAG
SUBJECT_ID
9           2149-11-09   50856  NaN            1
9           2149-11-09   50868  NaN            1
9           2149-11-09   50879  NaN            1
9           2149-11-09   50880  NaN            1
9           2149-11-09   50882    1            1
9           2149-11-09   50902  NaN            1
9           2149-11-09   50910  NaN            1
9           2149-11-09   50911  NaN            1
9           2149-11-09   50912  NaN            1
9           2149-11-09   50922  NaN            1
9           2149-11-09   50931    1            1
9           2149-11-09   50933  NaN            1
9           2149-11-09   50971    1            1
9           2149-11-09   50981  NaN            1
9           2149-11-09   50983  NaN            1
9           2149-11-09   50999  NaN            1
9           2149-11-09   51003  NaN            1
9           2149-11-09   51006  NaN            1
9           2149-11-09   51146  NaN            1
9           2149-11-09   51200  NaN            1
9           2149-11-09   51221  NaN            1
9           2149-11-09   51222  NaN            1
9           2149-11-09   51237  NaN            1
9           2149-11-09   51244  NaN            1
9           2149-11-09   51248  NaN            1
9           2149-11-09   51249  NaN            1
9           2149-11-09   51250  NaN            1
9           2149-11-09   51254  NaN            1
9           2149-11-09   51256  NaN            1
9           2149-11-09   51265  NaN            1

In [ ]:
# 이하는 오늘의 수확을 위한 실행

# 공df

In [50]:
mul_col = ['CHARTTIME', 'ITEMID', 'FLAG', 'EXPIRE_FLAG']*10

In [65]:
list(range(10,0,-1))
[range(10,0,-1)]

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

[range(10, 0, -1)]

In [72]:
mul_ = []
for i in list(range(10,0,-1)):
    mul_.extend([i,i,i,i])

In [73]:
mul_

[10,
 10,
 10,
 10,
 9,
 9,
 9,
 9,
 8,
 8,
 8,
 8,
 7,
 7,
 7,
 7,
 6,
 6,
 6,
 6,
 5,
 5,
 5,
 5,
 4,
 4,
 4,
 4,
 3,
 3,
 3,
 3,
 2,
 2,
 2,
 2,
 1,
 1,
 1,
 1]

In [74]:
d = pd.DataFrame(columns = [mul_,mul_col])
d.index.name = 'SUBJECT_ID'

In [75]:
d

Empty DataFrame
Columns: [(10, CHARTTIME), (10, ITEMID), (10, FLAG), (10, EXPIRE_FLAG), (9, CHARTTIME), (9, ITEMID), (9, FLAG), (9, EXPIRE_FLAG), (8, CHARTTIME), (8, ITEMID), (8, FLAG), (8, EXPIRE_FLAG), (7, CHARTTIME), (7, ITEMID), (7, FLAG), (7, EXPIRE_FLAG), (6, CHARTTIME), (6, ITEMID), (6, FLAG), (6, EXPIRE_FLAG), (5, CHARTTIME), (5, ITEMID), (5, FLAG), (5, EXPIRE_FLAG), (4, CHARTTIME), (4, ITEMID), (4, FLAG), (4, EXPIRE_FLAG), (3, CHARTTIME), (3, ITEMID), (3, FLAG), (3, EXPIRE_FLAG), (2, CHARTTIME), (2, ITEMID), (2, FLAG), (2, EXPIRE_FLAG), (1, CHARTTIME), (1, ITEMID), (1, FLAG), (1, EXPIRE_FLAG)]
Index: []

[0 rows x 40 columns]

# fillna(0), 실행해줘야 하는 cell

In [19]:
data.fillna(0, inplace = True)

In [20]:
data

             CHARTTIME  ITEMID FLAG  EXPIRE_FLAG
SUBJECT_ID
9           2149-11-09   50856    0            1
9           2149-11-09   50868    0            1
9           2149-11-09   50879    0            1
9           2149-11-09   50880    0            1
9           2149-11-09   50882    1            1
...                ...     ...  ...          ...
99985       2182-03-14   51006    1            0
99985       2182-03-14   51146    0            0
99985       2182-03-14   51200    0            0
99985       2182-03-14   51221    1            0
99985       2182-03-14   51222    1            0

[9356349 rows x 4 columns]

In [21]:
# 오늘의 수확
d = pd.DataFrame(columns = ['CHARTTIME', 'ITEMID', 'FLAG', 'EXPIRE_FLAG'])
d.index.name = 'SUBJECT_ID'
for i,j in enumerate(data.index.unique()): #i는 0부터, j는 subject_id
    if data.loc[j].index.unique()[0] == j: #index가 j일 때
        dj = data.loc[j]
#         dic[j]
#         (data[data.index==j])['CHARTTIME'].unique()[-10:] #dic[j]랑 같음
#         s = data.loc[j].index.unique()[0] # 이 아이디어로 charttime 갖고와.
        s = data.loc[j]['CHARTTIME'].unique()[-10:]
#         s
#         s[0]
        for k,l in enumerate(s):#k는 0부터, l는 s(charttime)
#             l
            if data.loc[j]['CHARTTIME'].unique()[-10:][k] == s[k]:
                m = s[k]
                dj_ = dj[dj['CHARTTIME']==m]
#                 data.loc[j][data.loc[j]['CHARTTIME']==m]
#                 if data.loc[j][data.loc[j]['CHARTTIME']==m]:
                dj_.columns = pd.MultiIndex.from_product([[m], dj_.columns])
#                 dj_.drop(columns = ['CHARTTIME'], axis=1) #charttime drop 어떡함?
                d = pd.merge(left=d, right= dj_, how='outer', left_index=True,right_index=True) #한 줄 머지가 끝나면 다음줄로 넘어가야지
                # 같은 SUBJEECT_ID에 대해서 계산한 결과겠지?
                d
        
    if 
#                 break
#             break
#         break
#     break
#                 d.append(df_)
                
#                 data.loc[j][data.loc[j]['CHARTTIME']==m].columns = pd.MultiIndex.from_product([[m], data.loc[j][data.loc[j]['CHARTTIME']==m].columns])
#                 data[data.index==j].columns = pd.MultiIndex.from_product([[m], data[data.index==j].columns])
#                 data

/usr/local/lib/python3.8/dist-packages/pandas/core/reshape/merge.py:648: UserWarning: merging between different levels can give an unintended result (1 levels on the left,2 on the right)
  warnings.warn(msg, UserWarning)

KeyboardInterrupt:

In [22]:
d

,CHARTTIME,ITEMID,FLAG,EXPIRE_FLAG,"(2149-11-09 00:00:00, CHARTTIME)","(2149-11-09 00:00:00, ITEMID)","(2149-11-09 00:00:00, FLAG)","(2149-11-09 00:00:00, EXPIRE_FLAG)","(2135-01-10 00:00:00, CHARTTIME)","(2135-01-10 00:00:00, ITEMID)","(2135-01-10 00:00:00, FLAG)","(2135-01-10 00:00:00, EXPIRE_FLAG)","(2108-08-22 00:00:00, CHARTTIME)","(2108-08-22 00:00:00, ITEMID)","(2108-08-22 00:00:00, FLAG)","(2108-08-22 00:00:00, EXPIRE_FLAG)","(2134-05-11 00:00:00, CHARTTIME)","(2134-05-11 00:00:00, ITEMID)","(2134-05-11 00:00:00, FLAG)",...,"(2156-09-23 00:00:00, ITEMID)","(2156-09-23 00:00:00, FLAG)","(2156-09-23 00:00:00, EXPIRE_FLAG)","(2152-10-02 00:00:00, CHARTTIME)","(2152-10-02 00:00:00, ITEMID)","(2152-10-02 00:00:00, FLAG)","(2152-10-02 00:00:00, EXPIRE_FLAG)","(2143-08-26 00:00:00, CHARTTIME)","(2143-08-26 00:00:00, ITEMID)","(2143-08-26 00:00:00, FLAG)","(2143-08-26 00:00:00, EXPIRE_FLAG)","(2143-01-17 00:00:00, CHARTTIME)","(2143-01-17 00:00:00, ITEMID)","(2143-01-17 00:00:00, FLAG)","(2143-01-17 00:00:00, EXPIRE_FLAG)","(2161-01-01 00:00:00, CHARTTIME)","(2161-01-01 00:00:00, ITEMID)","(2161-01-01 00:00:00, FLAG)","(2161-01-01 00:00:00, EXPIRE_FLAG)"
SUBJECT_ID,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
9,NaN,NaN,NaN,NaN,2149-11-09,50856.0,0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,NaN,NaN,NaN,NaN,2149-11-09,50868.0,0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,NaN,NaN,NaN,NaN,2149-11-09,50879.0,0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,NaN,NaN,NaN,NaN,2149-11-09,50880.0,0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,NaN,NaN,NaN,NaN,2149-11-09,50882.0,1,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7234,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2161-01-01,50816.0,0,1.0
7234,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2161-01-01,50817.0,0,1.0
7234,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2161-01-01,50819.0,0,1.0
7234,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2161-01-01,50826.0,0,1.0
7234,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2161-01-01,50827.0,0,1.0

In [40]:
# pd.DataFrame(dj_['2149-11-09','CHARTTIME'])
dj_.xs('2149-11-09', level = 0, axis = 1)["CHARTTIME"]#같은 결과임
# dj_.drop([dj_.xs('2149-11-09', level = 0, axis = 1)["CHARTTIME"]], axis = 1)

SUBJECT_ID
9    2149-11-09
9    2149-11-09
9    2149-11-09
9    2149-11-09
9    2149-11-09
        ...
9    2149-11-09
9    2149-11-09
9    2149-11-09
9    2149-11-09
9    2149-11-09
Name: CHARTTIME, Length: 94, dtype: object

TypeError: 'Series' objects are mutable, thus they cannot be hashed

In [47]:
data.loc[j][data.loc[j]['CHARTTIME']==m]

             CHARTTIME  ITEMID FLAG  EXPIRE_FLAG
SUBJECT_ID
99985       2182-03-14   51244  NaN            0
99985       2182-03-14   51248  NaN            0
99985       2182-03-14   51249  NaN            0
99985       2182-03-14   51250  NaN            0
99985       2182-03-14   51254  NaN            0
99985       2182-03-14   51256  NaN            0
99985       2182-03-14   51265  NaN            0
99985       2182-03-14   51277  NaN            0
99985       2182-03-14   51279    1            0
99985       2182-03-14   51301  NaN            0
99985       2182-03-14   50861  NaN            0
99985       2182-03-14   50862  NaN            0
99985       2182-03-14   50868  NaN            0
99985       2182-03-14   50878  NaN            0
99985       2182-03-14   50882  NaN            0
99985       2182-03-14   50893  NaN            0
99985       2182-03-14   50902  NaN            0
99985       2182-03-14   50903  NaN            0
99985       2182-03-14   50904  NaN            0
99985       2182-03-14   50905  NaN            0
99985       2182-03-14   50907  NaN            0
99985       2182-03-14   50912  NaN            0
99985       2182-03-14   50920  NaN            0
99985       2182-03-14   50931  NaN            0
99985       2182-03-14   50971  NaN            0
99985       2182-03-14   50983  NaN            0
99985       2182-03-14   50993  NaN            0
99985       2182-03-14   51000  NaN            0
99985       2182-03-14   51006    1            0
99985       2182-03-14   51146  NaN            0
99985       2182-03-14   51200  NaN            0
99985       2182-03-14   51221    1            0
99985       2182-03-14   51222    1            0

In [33]:
data.loc[j].index.unique()[0]

99985

In [34]:
data.loc[j][data.loc[j]['CHARTTIME'] == m]

             CHARTTIME  ITEMID FLAG  EXPIRE_FLAG
SUBJECT_ID
99985       2182-03-14   51244  NaN            0
99985       2182-03-14   51248  NaN            0
99985       2182-03-14   51249  NaN            0
99985       2182-03-14   51250  NaN            0
99985       2182-03-14   51254  NaN            0
99985       2182-03-14   51256  NaN            0
99985       2182-03-14   51265  NaN            0
99985       2182-03-14   51277  NaN            0
99985       2182-03-14   51279    1            0
99985       2182-03-14   51301  NaN            0
99985       2182-03-14   50861  NaN            0
99985       2182-03-14   50862  NaN            0
99985       2182-03-14   50868  NaN            0
99985       2182-03-14   50878  NaN            0
99985       2182-03-14   50882  NaN            0
99985       2182-03-14   50893  NaN            0
99985       2182-03-14   50902  NaN            0
99985       2182-03-14   50903  NaN            0
99985       2182-03-14   50904  NaN            0
99985       2182-03-14   50905  NaN            0
99985       2182-03-14   50907  NaN            0
99985       2182-03-14   50912  NaN            0
99985       2182-03-14   50920  NaN            0
99985       2182-03-14   50931  NaN            0
99985       2182-03-14   50971  NaN            0
99985       2182-03-14   50983  NaN            0
99985       2182-03-14   50993  NaN            0
99985       2182-03-14   51000  NaN            0
99985       2182-03-14   51006    1            0
99985       2182-03-14   51146  NaN            0
99985       2182-03-14   51200  NaN            0
99985       2182-03-14   51221    1            0
99985       2182-03-14   51222    1            0

In [148]:
merge_lab_pat.loc[9].index.unique()

Int64Index([9], dtype='int64', name='SUBJECT_ID')

In [144]:
merge_lab_pat.index.unique()#.loc[9]

Int64Index([    9,    21,    31,    36,    37,    41,    68,    85,    94,
              101,
            ...
            99666, 99781, 99817, 99822, 99836, 99863, 99934, 99937, 99944,
            99985],
           dtype='int64', name='SUBJECT_ID', length=7799)

In [ ]:
data_cp = data.copy()
data_cp.reset_index(inplace = True)
data_cp
data_gb = data_cp.groupby(['SUBJECT_ID', 'ITEMID']).EXPIRE_FLAG.mean()
pd.DataFrame(data_gb)

In [ ]:
# 이하는 multi index말고는 뭔생각인지 모르겠음. 쓸모 없음.

In [21]:
data = process_data.copy()
data
data_set = data.reset_index().set_index('환자id')
data_set
# data_drop =
data_set.drop(columns=['index'], axis=1)
data_set
# data_drop

,환자id,ITEM_50800,ITEM_50801,ITEM_50802,ITEM_50803,ITEM_50804,ITEM_50805,ITEM_50806,ITEM_50808,ITEM_50809,ITEM_50810,ITEM_50811,ITEM_50812,ITEM_50813,ITEM_50814,ITEM_50815,ITEM_50816,ITEM_50817,ITEM_50818,...,ITEM_51510,ITEM_51511,ITEM_51512,ITEM_51513,ITEM_51514,ITEM_51515,ITEM_51516,ITEM_51517,ITEM_51518,ITEM_51519,ITEM_51520,ITEM_51521,ITEM_51523,ITEM_51525,ITEM_51526,ITEM_51529,ITEM_51533,ITEM_51537,EXPIRE_FLAG
0,9,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1
1,21,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1
2,31,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1
3,36,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
4,37,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7794,99863,0.0,0.0,0.0,0.0,1.0,0.0,1.0,1.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
7795,99934,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
7796,99937,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1
7797,99944,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1
7798,99985,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0

,index,ITEM_50800,ITEM_50801,ITEM_50802,ITEM_50803,ITEM_50804,ITEM_50805,ITEM_50806,ITEM_50808,ITEM_50809,ITEM_50810,ITEM_50811,ITEM_50812,ITEM_50813,ITEM_50814,ITEM_50815,ITEM_50816,ITEM_50817,ITEM_50818,...,ITEM_51510,ITEM_51511,ITEM_51512,ITEM_51513,ITEM_51514,ITEM_51515,ITEM_51516,ITEM_51517,ITEM_51518,ITEM_51519,ITEM_51520,ITEM_51521,ITEM_51523,ITEM_51525,ITEM_51526,ITEM_51529,ITEM_51533,ITEM_51537,EXPIRE_FLAG
환자id,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
9,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1
21,1,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1
31,2,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1
36,3,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
37,4,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99863,7794,0.0,0.0,0.0,0.0,1.0,0.0,1.0,1.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
99934,7795,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
99937,7796,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1
99944,7797,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1
99985,7798,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0

,ITEM_50800,ITEM_50801,ITEM_50802,ITEM_50803,ITEM_50804,ITEM_50805,ITEM_50806,ITEM_50808,ITEM_50809,ITEM_50810,ITEM_50811,ITEM_50812,ITEM_50813,ITEM_50814,ITEM_50815,ITEM_50816,ITEM_50817,ITEM_50818,ITEM_50819,...,ITEM_51510,ITEM_51511,ITEM_51512,ITEM_51513,ITEM_51514,ITEM_51515,ITEM_51516,ITEM_51517,ITEM_51518,ITEM_51519,ITEM_51520,ITEM_51521,ITEM_51523,ITEM_51525,ITEM_51526,ITEM_51529,ITEM_51533,ITEM_51537,EXPIRE_FLAG
환자id,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
9,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1
21,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1
31,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1
36,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
37,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99863,0.0,0.0,0.0,0.0,1.0,0.0,1.0,1.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
99934,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
99937,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1
99944,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1
99985,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0

,index,ITEM_50800,ITEM_50801,ITEM_50802,ITEM_50803,ITEM_50804,ITEM_50805,ITEM_50806,ITEM_50808,ITEM_50809,ITEM_50810,ITEM_50811,ITEM_50812,ITEM_50813,ITEM_50814,ITEM_50815,ITEM_50816,ITEM_50817,ITEM_50818,...,ITEM_51510,ITEM_51511,ITEM_51512,ITEM_51513,ITEM_51514,ITEM_51515,ITEM_51516,ITEM_51517,ITEM_51518,ITEM_51519,ITEM_51520,ITEM_51521,ITEM_51523,ITEM_51525,ITEM_51526,ITEM_51529,ITEM_51533,ITEM_51537,EXPIRE_FLAG
환자id,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
9,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1
21,1,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1
31,2,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1
36,3,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
37,4,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99863,7794,0.0,0.0,0.0,0.0,1.0,0.0,1.0,1.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
99934,7795,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
99937,7796,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1
99944,7797,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1
99985,7798,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0

In [49]:
data1 = data_drop[:10]
data1

,ITEM_50800,ITEM_50801,ITEM_50802,ITEM_50803,ITEM_50804,ITEM_50805,ITEM_50806,ITEM_50808,ITEM_50809,ITEM_50810,ITEM_50811,ITEM_50812,ITEM_50813,ITEM_50814,ITEM_50815,ITEM_50816,ITEM_50817,ITEM_50818,ITEM_50819,...,ITEM_51510,ITEM_51511,ITEM_51512,ITEM_51513,ITEM_51514,ITEM_51515,ITEM_51516,ITEM_51517,ITEM_51518,ITEM_51519,ITEM_51520,ITEM_51521,ITEM_51523,ITEM_51525,ITEM_51526,ITEM_51529,ITEM_51533,ITEM_51537,EXPIRE_FLAG
환자id,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
9,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1
21,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1
31,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1
36,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
37,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1
41,0.0,0.0,0.0,0.0,1.0,0.0,1.0,1.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1
68,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1
85,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1
94,0.0,0.0,0.0,1.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1
101,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1

In [51]:
data1[:1]

,ITEM_50800,ITEM_50801,ITEM_50802,ITEM_50803,ITEM_50804,ITEM_50805,ITEM_50806,ITEM_50808,ITEM_50809,ITEM_50810,ITEM_50811,ITEM_50812,ITEM_50813,ITEM_50814,ITEM_50815,ITEM_50816,ITEM_50817,ITEM_50818,ITEM_50819,...,ITEM_51510,ITEM_51511,ITEM_51512,ITEM_51513,ITEM_51514,ITEM_51515,ITEM_51516,ITEM_51517,ITEM_51518,ITEM_51519,ITEM_51520,ITEM_51521,ITEM_51523,ITEM_51525,ITEM_51526,ITEM_51529,ITEM_51533,ITEM_51537,EXPIRE_FLAG
환자id,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
9,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1

In [56]:
df = data1.stack(level=0, dropna=True)
pd.DataFrame(df)
# df.reset_index()#.set_index('환자id')
# 출처: https://data-make.tistory.com/126 [Data Makes Our Future]

                    0
환자id
9    ITEM_50800   0.0
     ITEM_50801   0.0
     ITEM_50802   0.0
     ITEM_50803   0.0
     ITEM_50804   0.0
...               ...
101  ITEM_51526   0.0
     ITEM_51529   0.0
     ITEM_51533   0.0
     ITEM_51537   0.0
     EXPIRE_FLAG  1.0

[6910 rows x 1 columns]

In [58]:
df.shape

(6910,)

In [ ]:
# df1 = DataFrame({'value':[1,2,3,4,5,6], 'ind1':['a','a','b','b','c','c'], 'ind2':[1,2,1,2,1,2]})

# df1 = df1.set_index(['ind1','ind2'])  # 리스트 형식으로 인덱스에 동시 전달 가능

# # df1.index = [df1['ind1'], df1['ind2']]
# # df1.drop(['ind1','ind2'],axis=1) 

# # 출처: https://data-make.tistory.com/126 [Data Makes Our Future]