In [1]:
import sys
print('python', sys.version)

import numpy as np
print('numpy', np.__version__)

import pandas as pd
print('pandas', pd.__version__)

import matplotlib as mpl
print('matplotlib', mpl.__version__)

import matplotlib.pyplot as plt
plt.rc("font", family="Malgun Gothic") # 한글표시 (window)
plt.rc("axes", unicode_minus=False) # x,y축 (-)부호 표시

# 레티나 디스플레이로 폰트가 선명하게 표시되도록 합니다.
from IPython.display import set_matplotlib_formats
set_matplotlib_formats("retina")

import seaborn as sns
print('seaborn', sns.__version__)


# 결과 확인을 용이하게 하기 위한 코드
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = 'all'

# 모든 컬럼이 표시되도록 max_columns 의 수를 지정합니다.
pd.options.display.max_columns = 39

python 3.8.5 (default, May 27 2021, 13:30:53)
[GCC 9.3.0]
numpy 1.19.5
pandas 1.2.5
matplotlib 3.4.2
seaborn 0.11.1

<ipython-input-1-b0b59554c2c7>:19: DeprecationWarning: `set_matplotlib_formats` is deprecated since IPython 7.23, directly use `matplotlib_inline.backend_inline.set_matplotlib_formats()`
  set_matplotlib_formats("retina")

# data read

In [2]:
lab = pd.read_csv('/project/data/폐렴환자lab.csv')
patient = pd.read_csv('/project/data/폐렴환자.csv')

# 전처리

## patient 전처리

### 환자 7799 맞춰주기

In [3]:
all = set(patient['SUBJECT_ID']).intersection(set(lab['SUBJECT_ID']))
set(patient['SUBJECT_ID'].unique())-all

{9388, 17674, 19097, 48968, 58012, 60961, 93114, 95230}

In [4]:
patient = patient[patient['SUBJECT_ID'].isin(all)]
patient

,ROW_ID,SUBJECT_ID,GENDER,DOB,DOD,DOD_HOSP,DOD_SSN,EXPIRE_FLAG
0,237,252,M,2078-03-06 00:00:00,NaN,NaN,NaN,0
1,238,253,F,2089-11-26 00:00:00,NaN,NaN,NaN,0
2,251,268,F,2132-02-21 00:00:00,2198-02-18 00:00:00,2198-02-18 00:00:00,NaN,1
3,252,269,M,2130-09-30 00:00:00,NaN,NaN,NaN,0
4,628,665,M,2052-05-20 00:00:00,2120-02-04 00:00:00,2120-02-04 00:00:00,NaN,1
...,...,...,...,...,...,...,...,...
7802,31801,43932,M,2080-06-26 00:00:00,2153-03-01 00:00:00,NaN,2153-03-01 00:00:00,1
7803,31802,43937,M,2113-03-30 00:00:00,2200-08-05 00:00:00,2200-08-05 00:00:00,2200-08-05 00:00:00,1
7804,31807,43959,F,2028-05-13 00:00:00,NaN,NaN,NaN,0
7805,31813,43982,F,2065-04-17 00:00:00,NaN,NaN,NaN,0
7806,31832,44064,M,2115-11-18 00:00:00,NaN,NaN,NaN,0

### 시간 부분 제거, 날짜만 남기기

In [5]:
import datetime as dt
patient
patient['DOD'] = pd.to_datetime(patient['DOD'])
patient
patient['DOD'] = patient['DOD'].dt.date
patient

,ROW_ID,SUBJECT_ID,GENDER,DOB,DOD,DOD_HOSP,DOD_SSN,EXPIRE_FLAG
0,237,252,M,2078-03-06 00:00:00,NaN,NaN,NaN,0
1,238,253,F,2089-11-26 00:00:00,NaN,NaN,NaN,0
2,251,268,F,2132-02-21 00:00:00,2198-02-18 00:00:00,2198-02-18 00:00:00,NaN,1
3,252,269,M,2130-09-30 00:00:00,NaN,NaN,NaN,0
4,628,665,M,2052-05-20 00:00:00,2120-02-04 00:00:00,2120-02-04 00:00:00,NaN,1
...,...,...,...,...,...,...,...,...
7802,31801,43932,M,2080-06-26 00:00:00,2153-03-01 00:00:00,NaN,2153-03-01 00:00:00,1
7803,31802,43937,M,2113-03-30 00:00:00,2200-08-05 00:00:00,2200-08-05 00:00:00,2200-08-05 00:00:00,1
7804,31807,43959,F,2028-05-13 00:00:00,NaN,NaN,NaN,0
7805,31813,43982,F,2065-04-17 00:00:00,NaN,NaN,NaN,0
7806,31832,44064,M,2115-11-18 00:00:00,NaN,NaN,NaN,0

,ROW_ID,SUBJECT_ID,GENDER,DOB,DOD,DOD_HOSP,DOD_SSN,EXPIRE_FLAG
0,237,252,M,2078-03-06 00:00:00,NaT,NaN,NaN,0
1,238,253,F,2089-11-26 00:00:00,NaT,NaN,NaN,0
2,251,268,F,2132-02-21 00:00:00,2198-02-18,2198-02-18 00:00:00,NaN,1
3,252,269,M,2130-09-30 00:00:00,NaT,NaN,NaN,0
4,628,665,M,2052-05-20 00:00:00,2120-02-04,2120-02-04 00:00:00,NaN,1
...,...,...,...,...,...,...,...,...
7802,31801,43932,M,2080-06-26 00:00:00,2153-03-01,NaN,2153-03-01 00:00:00,1
7803,31802,43937,M,2113-03-30 00:00:00,2200-08-05,2200-08-05 00:00:00,2200-08-05 00:00:00,1
7804,31807,43959,F,2028-05-13 00:00:00,NaT,NaN,NaN,0
7805,31813,43982,F,2065-04-17 00:00:00,NaT,NaN,NaN,0
7806,31832,44064,M,2115-11-18 00:00:00,NaT,NaN,NaN,0

,ROW_ID,SUBJECT_ID,GENDER,DOB,DOD,DOD_HOSP,DOD_SSN,EXPIRE_FLAG
0,237,252,M,2078-03-06 00:00:00,NaT,NaN,NaN,0
1,238,253,F,2089-11-26 00:00:00,NaT,NaN,NaN,0
2,251,268,F,2132-02-21 00:00:00,2198-02-18,2198-02-18 00:00:00,NaN,1
3,252,269,M,2130-09-30 00:00:00,NaT,NaN,NaN,0
4,628,665,M,2052-05-20 00:00:00,2120-02-04,2120-02-04 00:00:00,NaN,1
...,...,...,...,...,...,...,...,...
7802,31801,43932,M,2080-06-26 00:00:00,2153-03-01,NaN,2153-03-01 00:00:00,1
7803,31802,43937,M,2113-03-30 00:00:00,2200-08-05,2200-08-05 00:00:00,2200-08-05 00:00:00,1
7804,31807,43959,F,2028-05-13 00:00:00,NaT,NaN,NaN,0
7805,31813,43982,F,2065-04-17 00:00:00,NaT,NaN,NaN,0
7806,31832,44064,M,2115-11-18 00:00:00,NaT,NaN,NaN,0

### columns 선택 , 인덱스 정리 , 정렬

In [6]:
patient_sorted = patient[['SUBJECT_ID', 'EXPIRE_FLAG']].set_index('SUBJECT_ID').sort_values(['SUBJECT_ID'])#, inplace = True)
patient_sorted

            EXPIRE_FLAG
SUBJECT_ID
9                     1
21                    1
31                    1
36                    0
37                    1
...                 ...
99863                 0
99934                 0
99937                 1
99944                 1
99985                 0

[7799 rows x 1 columns]

## lab 전처리

### lab columns 선택, 행 중복제거, 시간 부분 제거, 날짜만 남기기, 열 정렬

In [7]:
lab

lab_sorted_ = lab[['SUBJECT_ID', 'CHARTTIME', 'ITEMID', 'FLAG']].drop_duplicates()
lab_sorted_

import datetime as dt
lab_sorted_['CHARTTIME'] = pd.to_datetime(lab_sorted_['CHARTTIME'])
lab_sorted_['CHARTTIME'] = lab_sorted_['CHARTTIME'].dt.date
lab_sorted_

lab_sorted = lab_sorted_.set_index('SUBJECT_ID').sort_values(['SUBJECT_ID', 'CHARTTIME'])

           ROW_ID  SUBJECT_ID   HADM_ID  ITEMID            CHARTTIME      FLAG
0            5144           9  150750.0   50819  2149-11-14 06:07:00       NaN
1            5145           9  150750.0   50820  2149-11-14 06:07:00       NaN
2            5146           9  150750.0   50821  2149-11-14 06:07:00  abnormal
3            5147           9  150750.0   50826  2149-11-14 06:07:00       NaN
4            5148           9  150750.0   50827  2149-11-14 06:07:00       NaN
...           ...         ...       ...     ...                  ...       ...
9356344  27427231       96442  120151.0   51248  2115-06-29 04:45:00       NaN
9356345  27427232       96442  120151.0   51249  2115-06-29 04:45:00       NaN
9356346  27427233       96442  120151.0   51250  2115-06-29 04:45:00       NaN
9356347  27427234       96442  120151.0   51254  2115-06-29 04:45:00  abnormal
9356348  27427235       96442  120151.0   51256  2115-06-29 04:45:00  abnormal

[9356349 rows x 6 columns]

         SUBJECT_ID            CHARTTIME  ITEMID      FLAG
0                 9  2149-11-14 06:07:00   50819       NaN
1                 9  2149-11-14 06:07:00   50820       NaN
2                 9  2149-11-14 06:07:00   50821  abnormal
3                 9  2149-11-14 06:07:00   50826       NaN
4                 9  2149-11-14 06:07:00   50827       NaN
...             ...                  ...     ...       ...
9356344       96442  2115-06-29 04:45:00   51248       NaN
9356345       96442  2115-06-29 04:45:00   51249       NaN
9356346       96442  2115-06-29 04:45:00   51250       NaN
9356347       96442  2115-06-29 04:45:00   51254  abnormal
9356348       96442  2115-06-29 04:45:00   51256  abnormal

[9350027 rows x 4 columns]

         SUBJECT_ID   CHARTTIME  ITEMID      FLAG
0                 9  2149-11-14   50819       NaN
1                 9  2149-11-14   50820       NaN
2                 9  2149-11-14   50821  abnormal
3                 9  2149-11-14   50826       NaN
4                 9  2149-11-14   50827       NaN
...             ...         ...     ...       ...
9356344       96442  2115-06-29   51248       NaN
9356345       96442  2115-06-29   51249       NaN
9356346       96442  2115-06-29   51250       NaN
9356347       96442  2115-06-29   51254  abnormal
9356348       96442  2115-06-29   51256  abnormal

[9350027 rows x 4 columns]

### abnormal -> 1
### NaN -> 0

In [8]:
lab_sorted['FLAG'].replace('abnormal', 1, inplace = True) #abnormal을 1로 바꿔주는 코드

lab_sorted[lab_sorted.index==9]['CHARTTIME'].max() #lab기록의 마지막 날짜 DOD랑 같은지 확인하려고 친 코드

datetime.date(2149, 11, 14)

In [9]:
lab_sorted.fillna(0, inplace = True)

In [10]:
lab_sorted['CHARTTIME'].unique()[-10:]

array([datetime.date(2155, 12, 12), datetime.date(2194, 7, 24),
       datetime.date(2194, 7, 26), datetime.date(2194, 7, 27),
       datetime.date(2126, 5, 3), datetime.date(2195, 4, 23),
       datetime.date(2181, 4, 7), datetime.date(2171, 7, 30),
       datetime.date(2171, 7, 31), datetime.date(2186, 4, 17)],
      dtype=object)

In [11]:
lab_sorted.index.unique()

Int64Index([    9,    21,    31,    36,    37,    41,    68,    85,    94,
              101,
            ...
            99666, 99781, 99817, 99822, 99836, 99863, 99934, 99937, 99944,
            99985],
           dtype='int64', name='SUBJECT_ID', length=7799)

### lab과 patient merge

In [12]:
#expire_flag는 y(label)값. 함께 보려고 lab과 patient 쓰는 것만 붙여줌.
merge_lab_pat = pd.merge(left=lab_sorted, right= patient_sorted, how='inner', left_index=True,right_index=True)

In [13]:
merge_lab_pat

             CHARTTIME  ITEMID FLAG  EXPIRE_FLAG
SUBJECT_ID
9           2149-11-09   50856    0            1
9           2149-11-09   50868    0            1
9           2149-11-09   50879    0            1
9           2149-11-09   50880    0            1
9           2149-11-09   50882    1            1
...                ...     ...  ...          ...
99985       2182-03-14   51006    1            0
99985       2182-03-14   51146    0            0
99985       2182-03-14   51200    0            0
99985       2182-03-14   51221    1            0
99985       2182-03-14   51222    1            0

[9350027 rows x 4 columns]

In [14]:
# key: sub_id
#value: charttime (array length max=10), value가 리스트 안의 array 형태가 아닌 그냥 array 형태로 들어있음.
dic = {}
for i in lab_sorted.index.unique():
    dic[i] = lab_sorted[lab_sorted.index==i]['CHARTTIME'].unique()[-10:]

In [15]:
dic

{9: array([datetime.date(2149, 11, 9), datetime.date(2149, 11, 10),
        datetime.date(2149, 11, 11), datetime.date(2149, 11, 12),
        datetime.date(2149, 11, 13), datetime.date(2149, 11, 14)],
       dtype=object),
 21: array([datetime.date(2135, 1, 10), datetime.date(2135, 1, 11),
        datetime.date(2135, 1, 30), datetime.date(2135, 1, 31),
        datetime.date(2135, 2, 1), datetime.date(2135, 2, 2),
        datetime.date(2135, 2, 3), datetime.date(2135, 2, 4),
        datetime.date(2135, 2, 5), datetime.date(2135, 2, 6)], dtype=object),
 31: array([datetime.date(2108, 8, 22), datetime.date(2108, 8, 23),
        datetime.date(2108, 8, 24), datetime.date(2108, 8, 25),
        datetime.date(2108, 8, 26), datetime.date(2108, 8, 27),
        datetime.date(2108, 8, 28), datetime.date(2108, 8, 29),
        datetime.date(2108, 8, 30)], dtype=object),
 36: array([datetime.date(2134, 5, 11), datetime.date(2134, 5, 12),
        datetime.date(2134, 5, 13), datetime.date(2134, 5, 14),
        datetime.date(2134, 5, 15), datetime.date(2134, 5, 16),
        datetime.date(2134, 5, 17), datetime.date(2134, 5, 18),
        datetime.date(2134, 5, 19), datetime.date(2134, 5, 20)],
       dtype=object),
 37: array([datetime.date(2183, 8, 21), datetime.date(2183, 8, 22),
        datetime.date(2183, 8, 23), datetime.date(2183, 8, 24),
        datetime.date(2183, 8, 25), datetime.date(2183, 8, 26),
        datetime.date(2183, 10, 7), datetime.date(2184, 4, 27)],
       dtype=object),
 41: array([datetime.date(2133, 1, 18), datetime.date(2133, 1, 19),
        datetime.date(2133, 1, 20), datetime.date(2133, 1, 21),
        datetime.date(2133, 1, 22), datetime.date(2133, 1, 23),
        datetime.date(2133, 1, 24), datetime.date(2133, 1, 25),
        datetime.date(2133, 1, 26), datetime.date(2133, 1, 27)],
       dtype=object),
 68: array([datetime.date(2174, 1, 9), datetime.date(2174, 1, 10),
        datetime.date(2174, 1, 11), datetime.date(2174, 1, 12),
        datetime.date(2174, 1, 13), datetime.date(2174, 1, 14),
        datetime.date(2174, 1, 15), datetime.date(2174, 1, 16),
        datetime.date(2174, 1, 17), datetime.date(2174, 1, 18)],
       dtype=object),
 85: array([datetime.date(2162, 3, 10), datetime.date(2162, 3, 23),
        datetime.date(2162, 7, 20), datetime.date(2162, 8, 19),
        datetime.date(2167, 7, 25), datetime.date(2167, 7, 26),
        datetime.date(2167, 7, 27), datetime.date(2167, 7, 28),
        datetime.date(2167, 7, 29), datetime.date(2167, 7, 30)],
       dtype=object),
 94: array([datetime.date(2176, 9, 10), datetime.date(2176, 9, 11),
        datetime.date(2176, 9, 12), datetime.date(2176, 9, 13),
        datetime.date(2176, 9, 14), datetime.date(2176, 9, 15),
        datetime.date(2176, 9, 16), datetime.date(2176, 9, 17),
        datetime.date(2176, 9, 18), datetime.date(2176, 9, 19)],
       dtype=object),
 101: array([datetime.date(2196, 9, 28), datetime.date(2196, 9, 29),
        datetime.date(2196, 9, 30), datetime.date(2196, 10, 1),
        datetime.date(2196, 10, 2), datetime.date(2196, 10, 3),
        datetime.date(2196, 10, 4), datetime.date(2196, 10, 5),
        datetime.date(2196, 10, 6), datetime.date(2196, 10, 7)],
       dtype=object),
 103: array([datetime.date(2144, 8, 12), datetime.date(2144, 8, 13),
        datetime.date(2144, 8, 14), datetime.date(2144, 8, 15),
        datetime.date(2144, 8, 16), datetime.date(2144, 8, 17),
        datetime.date(2144, 8, 18), datetime.date(2144, 8, 30),
        datetime.date(2144, 8, 31)], dtype=object),
 105: array([datetime.date(2189, 1, 29), datetime.date(2189, 1, 30),
        datetime.date(2189, 1, 31), datetime.date(2189, 2, 1),
        datetime.date(2189, 2, 2), datetime.date(2189, 2, 20),
        datetime.date(2189, 2, 21), datetime.date(2189, 2, 23),
        datetime.date(2189, 2, 24), datetime.date(2189, 2, 25)],
       dtype=object),
 109: array([datetime.date(2142, 7, 19), datetime.date(2142, 7, 20),
        datetime.date(2142, 7, 21), datetime.date(2142, 7, 22),
        datetime.date(2142, 8, 13), datetime.date(2142, 8, 14),
        datetime.date(2142, 8, 16), datetime.date(2142, 8, 28),
        datetime.date(2142, 8, 29), datetime.date(2142, 8, 30)],
       dtype=object),
 111: array([datetime.date(2142, 4, 28), datetime.date(2142, 4, 29),
        datetime.date(2142, 4, 30), datetime.date(2142, 5, 1),
        datetime.date(2142, 5, 2), datetime.date(2142, 5, 3),
        datetime.date(2142, 5, 4), datetime.date(2142, 8, 22),
        datetime.date(2143, 4, 17), datetime.date(2144, 7, 1)],
       dtype=object),
 112: array([datetime.date(2194, 6, 13), datetime.date(2194, 6, 14),
        datetime.date(2194, 6, 15), datetime.date(2194, 6, 16),
        datetime.date(2194, 6, 17), datetime.date(2194, 7, 25),
        datetime.date(2194, 11, 17), datetime.date(2195, 3, 24),
        datetime.date(2196, 9, 27), datetime.date(2196, 9, 28)],
       dtype=object),
 117: array([datetime.date(2133, 11, 22), datetime.date(2133, 11, 23),
        datetime.date(2133, 11, 24), datetime.date(2133, 11, 25),
        datetime.date(2133, 11, 26), datetime.date(2133, 11, 27),
        datetime.date(2133, 11, 28), datetime.date(2133, 11, 29),
        datetime.date(2133, 11, 30), datetime.date(2133, 12, 1)],
       dtype=object),
 124: array([datetime.date(2166, 1, 20), datetime.date(2166, 1, 21),
        datetime.date(2166, 1, 22), datetime.date(2166, 1, 23),
        datetime.date(2166, 1, 24), datetime.date(2166, 1, 25),
        datetime.date(2166, 1, 26), datetime.date(2166, 1, 27),
        datetime.date(2166, 1, 28), datetime.date(2166, 1, 29)],
       dtype=object),
 136: array([datetime.date(2103, 4, 20), datetime.date(2103, 5, 9),
        datetime.date(2103, 5, 10), datetime.date(2103, 5, 11),
        datetime.date(2103, 5, 12), datetime.date(2103, 5, 14),
        datetime.date(2103, 6, 18)], dtype=object),
 148: array([datetime.date(2107, 9, 29), datetime.date(2107, 9, 30),
        datetime.date(2107, 10, 1), datetime.date(2107, 10, 2),
        datetime.date(2107, 10, 3), datetime.date(2107, 10, 4),
        datetime.date(2107, 10, 5), datetime.date(2107, 10, 6),
        datetime.date(2107, 10, 7), datetime.date(2107, 10, 8)],
       dtype=object),
 156: array([datetime.date(2121, 1, 26), datetime.date(2121, 1, 27),
        datetime.date(2121, 2, 26), datetime.date(2121, 3, 1),
        datetime.date(2121, 3, 2), datetime.date(2121, 3, 3),
        datetime.date(2121, 3, 19), datetime.date(2121, 3, 31),
        datetime.date(2121, 4, 14), datetime.date(2121, 5, 14)],
       dtype=object),
 157: array([datetime.date(2106, 5, 29), datetime.date(2106, 5, 30),
        datetime.date(2106, 6, 17), datetime.date(2106, 6, 18),
        datetime.date(2106, 6, 19), datetime.date(2106, 6, 20),
        datetime.date(2106, 6, 21), datetime.date(2106, 6, 22),
        datetime.date(2106, 6, 23), datetime.date(2106, 6, 24)],
       dtype=object),
 164: array([datetime.date(2117, 1, 6), datetime.date(2117, 1, 7),
        datetime.date(2117, 1, 8), datetime.date(2117, 1, 9),
        datetime.date(2117, 1, 10), datetime.date(2117, 1, 11),
        datetime.date(2117, 1, 12), datetime.date(2117, 1, 13),
        datetime.date(2117, 1, 14), datetime.date(2117, 1, 15)],
       dtype=object),
 166: array([datetime.date(2105, 1, 23), datetime.date(2105, 1, 24)],
       dtype=object),
 175: array([datetime.date(2183, 12, 29), datetime.date(2184, 1, 21),
        datetime.date(2184, 1, 22), datetime.date(2184, 1, 23),
        datetime.date(2184, 1, 24), datetime.date(2184, 1, 25),
        datetime.date(2184, 1, 26), datetime.date(2184, 1, 27),
        datetime.date(2184, 1, 28), datetime.date(2184, 1, 29)],
       dtype=object),
 177: array([datetime.date(2125, 12, 3), datetime.date(2125, 12, 4),
        datetime.date(2125, 12, 5), datetime.date(2125, 12, 6),
        datetime.date(2125, 12, 7), datetime.date(2125, 12, 8),
        datetime.date(2125, 12, 9), datetime.date(2125, 12, 10),
        datetime.date(2125, 12, 11), datetime.date(2125, 12, 12)],
       dtype=object),
 184: array([datetime.date(2168, 5, 3), datetime.date(2168, 5, 4),
        datetime.date(2168, 5, 5), datetime.date(2168, 5, 6),
        datetime.date(2168, 5, 7), datetime.date(2168, 5, 8),
        datetime.date(2168, 5, 9), datetime.date(2168, 5, 10),
        datetime.date(2168, 5, 11), datetime.date(2168, 5, 12)],
       dtype=object),
 186: array([datetime.date(2176, 10, 1), datetime.date(2176, 10, 14),
        datetime.date(2176, 11, 18), datetime.date(2177, 1, 15),
        datetime.date(2177, 1, 16), datetime.date(2177, 1, 17),
        datetime.date(2177, 1, 30), datetime.date(2177, 1, 31),
        datetime.date(2177, 2, 1), datetime.date(2177, 2, 19)],
       dtype=object),
 188: array([datetime.date(2162, 1, 7), datetime.date(2162, 1, 8),
        datetime.date(2162, 1, 9), datetime.date(2162, 1, 10),
        datetime.date(2162, 1, 11), datetime.date(2162, 1, 12),
        datetime.date(2162, 1, 13), datetime.date(2162, 1, 14),
        datetime.date(2162, 1, 15), datetime.date(2162, 1, 16)],
       dtype=object),
 191: array([datetime.date(2196, 4, 12), datetime.date(2196, 4, 13),
        datetime.date(2196, 4, 14), datetime.date(2196, 4, 15),
        datetime.date(2196, 4, 16), datetime.date(2196, 4, 17),
        datetime.date(2196, 4, 18), datetime.date(2196, 4, 19),
        datetime.date(2196, 4, 20), datetime.date(2196, 4, 21)],
       dtype=object),
 203: array([datetime.date(2160, 4, 28), datetime.date(2160, 4, 29),
        datetime.date(2160, 4, 30), datetime.date(2160, 5, 1),
        datetime.date(2160, 5, 2), datetime.date(2160, 5, 3),
        datetime.date(2160, 5, 4), datetime.date(2160, 5, 5),
        datetime.date(2160, 5, 6), datetime.date(2160, 5, 7)], dtype=object),
 208: array([datetime.date(2188, 5, 13), datetime.date(2188, 5, 14),
        datetime.date(2188, 5, 15), datetime.date(2188, 5, 16),
        datetime.date(2188, 5, 17), datetime.date(2188, 5, 18),
        datetime.date(2188, 5, 19)], dtype=object),
 211: array([datetime.date(2197, 12, 20), datetime.date(2197, 12, 21),
        datetime.date(2197, 12, 22), datetime.date(2197, 12, 23),
        datetime.date(2197, 12, 24), datetime.date(2197, 12, 25),
        datetime.date(2197, 12, 26), datetime.date(2197, 12, 27),
        datetime.date(2197, 12, 28), datetime.date(2197, 12, 29)],
       dtype=object),
 214: array([datetime.date(2188, 10, 27), datetime.date(2188, 10, 28),
        datetime.date(2188, 10, 29), datetime.date(2188, 10, 30),
        datetime.date(2188, 10, 31), datetime.date(2188, 11, 1),
        datetime.date(2188, 11, 2), datetime.date(2188, 11, 3),
        datetime.date(2188, 11, 4), datetime.date(2188, 11, 25)],
       dtype=object),
 221: array([datetime.date(2103, 12, 14), datetime.date(2103, 12, 15),
        datetime.date(2103, 12, 16), datetime.date(2103, 12, 17),
        datetime.date(2103, 12, 18), datetime.date(2103, 12, 19),
        datetime.date(2103, 12, 20), datetime.date(2103, 12, 21),
        datetime.date(2103, 12, 22), datetime.date(2103, 12, 23)],
       dtype=object),
 222: array([datetime.date(2143, 1, 9), datetime.date(2143, 1, 10),
        datetime.date(2143, 1, 11), datetime.date(2143, 1, 12),
        datetime.date(2143, 1, 13), datetime.date(2143, 1, 14),
        datetime.date(2143, 1, 29), datetime.date(2143, 2, 16),
        datetime.date(2143, 2, 17), datetime.date(2143, 2, 18)],
       dtype=object),
 223: array([datetime.date(2157, 5, 29), datetime.date(2157, 5, 30),
        datetime.date(2157, 5, 31), datetime.date(2157, 6, 1),
        datetime.date(2157, 6, 2), datetime.date(2157, 6, 3),
        datetime.date(2157, 6, 4), datetime.date(2157, 6, 5),
        datetime.date(2157, 6, 8), datetime.date(2157, 6, 30)],
       dtype=object),
 224: array([datetime.date(2151, 4, 1), datetime.date(2151, 4, 2)], dtype=object),
 225: array([datetime.date(2168, 6, 27), datetime.date(2168, 6, 28),
        datetime.date(2168, 6, 29), datetime.date(2168, 6, 30),
        datetime.date(2168, 7, 1), datetime.date(2168, 7, 6),
        datetime.date(2168, 7, 12), datetime.date(2168, 7, 26),
        datetime.date(2168, 9, 19), datetime.date(2168, 11, 22)],
       dtype=object),
 231: array([datetime.date(2176, 8, 21), datetime.date(2176, 8, 29),
        datetime.date(2176, 10, 9), datetime.date(2177, 2, 17),
        datetime.date(2177, 3, 3), datetime.date(2177, 4, 26),
        datetime.date(2178, 8, 6), datetime.date(2178, 8, 7),
        datetime.date(2178, 8, 8), datetime.date(2178, 8, 9)], dtype=object),
 242: array([datetime.date(2122, 1, 16), datetime.date(2122, 1, 17),
        datetime.date(2122, 1, 18), datetime.date(2122, 1, 19),
        datetime.date(2122, 1, 20), datetime.date(2122, 3, 30),
        datetime.date(2122, 3, 31), datetime.date(2122, 4, 2),
        datetime.date(2122, 4, 5)], dtype=object),
 248: array([datetime.date(2142, 10, 26), datetime.date(2142, 10, 27),
        datetime.date(2142, 10, 28), datetime.date(2142, 10, 29),
        datetime.date(2142, 10, 31), datetime.date(2142, 11, 1),
        datetime.date(2142, 11, 2), datetime.date(2142, 11, 3),
        datetime.date(2142, 11, 5), datetime.date(2142, 11, 6)],
       dtype=object),
 252: array([datetime.date(2133, 4, 23), datetime.date(2133, 8, 12),
        datetime.date(2133, 8, 15), datetime.date(2133, 8, 16),
        datetime.date(2133, 8, 17), datetime.date(2133, 8, 18),
        datetime.date(2133, 8, 19), datetime.date(2133, 10, 28),
        datetime.date(2133, 12, 25), datetime.date(2134, 2, 26)],
       dtype=object),
 253: array([datetime.date(2174, 1, 21), datetime.date(2174, 1, 22),
        datetime.date(2174, 1, 23), datetime.date(2174, 1, 24),
        datetime.date(2174, 1, 25), datetime.date(2174, 1, 26)],
       dtype=object),
 268: array([datetime.date(2198, 2, 2), datetime.date(2198, 2, 3),
        datetime.date(2198, 2, 4), datetime.date(2198, 2, 11),
        datetime.date(2198, 2, 12), datetime.date(2198, 2, 13),
        datetime.date(2198, 2, 14), datetime.date(2198, 2, 15),
        datetime.date(2198, 2, 16), datetime.date(2198, 2, 17)],
       dtype=object),
 269: array([datetime.date(2170, 11, 19), datetime.date(2170, 11, 20),
        datetime.date(2170, 11, 21), datetime.date(2170, 11, 22),
        datetime.date(2170, 11, 23), datetime.date(2170, 11, 25),
        datetime.date(2170, 11, 26), datetime.date(2170, 11, 30),
        datetime.date(2170, 12, 1), datetime.date(2170, 12, 2)],
       dtype=object),
 274: array([datetime.date(2119, 10, 12), datetime.date(2119, 11, 21),
        datetime.date(2119, 12, 1), datetime.date(2119, 12, 21),
        datetime.date(2120, 1, 8), datetime.date(2120, 1, 16),
        datetime.date(2120, 1, 17), datetime.date(2120, 2, 7),
        datetime.date(2120, 2, 13), datetime.date(2120, 5, 2)],
       dtype=object),
 283: array([datetime.date(2166, 9, 9), datetime.date(2166, 9, 10),
        datetime.date(2166, 9, 11), datetime.date(2166, 9, 12),
        datetime.date(2166, 10, 2), datetime.date(2166, 10, 3),
        datetime.date(2166, 10, 4), datetime.date(2166, 10, 5),
        datetime.date(2166, 10, 6), datetime.date(2166, 10, 7)],
       dtype=object),
 286: array([datetime.date(2176, 2, 18), datetime.date(2176, 2, 19),
        datetime.date(2176, 2, 20), datetime.date(2176, 2, 21),
        datetime.date(2176, 2, 22), datetime.date(2176, 2, 23),
        datetime.date(2176, 2, 24), datetime.date(2176, 4, 10),
        datetime.date(2176, 4, 11), datetime.date(2176, 4, 12)],
       dtype=object),
 290: array([datetime.date(2179, 1, 28), datetime.date(2179, 1, 29),
        datetime.date(2179, 1, 30), datetime.date(2179, 1, 31),
        datetime.date(2179, 2, 1), datetime.date(2179, 2, 3),
        datetime.date(2179, 2, 4), datetime.date(2179, 2, 5),
        datetime.date(2179, 2, 6), datetime.date(2179, 2, 7)], dtype=object),
 303: array([datetime.date(2160, 3, 17), datetime.date(2160, 3, 18),
        datetime.date(2163, 3, 29), datetime.date(2163, 3, 30),
        datetime.date(2163, 3, 31), datetime.date(2163, 4, 1),
        datetime.date(2163, 4, 2), datetime.date(2163, 4, 3),
        datetime.date(2163, 4, 4)], dtype=object),
 305: array([datetime.date(2129, 8, 29), datetime.date(2129, 8, 30),
        datetime.date(2129, 8, 31), datetime.date(2129, 9, 1),
        datetime.date(2129, 9, 2), datetime.date(2129, 9, 3),
        datetime.date(2129, 9, 4), datetime.date(2129, 9, 5),
        datetime.date(2129, 9, 6), datetime.date(2129, 9, 7)], dtype=object),
 308: array([datetime.date(2135, 10, 10), datetime.date(2135, 10, 11),
        datetime.date(2135, 10, 12), datetime.date(2135, 10, 13),
        datetime.date(2135, 10, 14), datetime.date(2135, 10, 15),
        datetime.date(2135, 10, 16), datetime.date(2135, 10, 17),
        datetime.date(2135, 10, 18), datetime.date(2135, 10, 19)],
       dtype=object),
 323: array([datetime.date(2119, 10, 4), datetime.date(2119, 10, 5),
        datetime.date(2119, 10, 6), datetime.date(2120, 1, 11),
        datetime.date(2120, 1, 12), datetime.date(2120, 1, 13),
        datetime.date(2120, 1, 14), datetime.date(2120, 1, 15),
        datetime.date(2120, 1, 16), datetime.date(2120, 1, 17)],
       dtype=object),
 328: array([datetime.date(2157, 2, 3), datetime.date(2157, 2, 4),
        datetime.date(2157, 2, 5), datetime.date(2157, 2, 6),
        datetime.date(2157, 2, 7), datetime.date(2157, 3, 24),
        datetime.date(2157, 4, 10), datetime.date(2157, 4, 11),
        datetime.date(2157, 4, 21), datetime.date(2157, 5, 2)],
       dtype=object),
 330: array([datetime.date(2133, 3, 15), datetime.date(2133, 3, 16),
        datetime.date(2133, 3, 17), datetime.date(2133, 3, 18),
        datetime.date(2133, 3, 19), datetime.date(2133, 3, 20),
        datetime.date(2133, 3, 21), datetime.date(2133, 3, 22),
        datetime.date(2133, 3, 23), datetime.date(2133, 3, 24)],
       dtype=object),
 346: array([datetime.date(2148, 12, 7), datetime.date(2148, 12, 8),
        datetime.date(2148, 12, 9), datetime.date(2148, 12, 10),
        datetime.date(2149, 3, 27), datetime.date(2149, 11, 29),
        datetime.date(2149, 11, 30), datetime.date(2149, 12, 1),
        datetime.date(2149, 12, 2), datetime.date(2149, 12, 3)],
       dtype=object),
 356: array([datetime.date(2132, 8, 13), datetime.date(2132, 8, 31),
        datetime.date(2132, 9, 1), datetime.date(2132, 9, 2),
        datetime.date(2132, 9, 3), datetime.date(2132, 9, 4),
        datetime.date(2132, 9, 5), datetime.date(2132, 9, 6),
        datetime.date(2132, 9, 7), datetime.date(2132, 9, 8)], dtype=object),
 357: array([datetime.date(2200, 1, 7), datetime.date(2200, 1, 8),
        datetime.date(2200, 1, 9), datetime.date(2200, 1, 10),
        datetime.date(2200, 1, 11), datetime.date(2200, 1, 12),
        datetime.date(2200, 1, 13), datetime.date(2200, 1, 14),
        datetime.date(2200, 1, 15), datetime.date(2200, 1, 17)],
       dtype=object),
 360: array([datetime.date(2176, 6, 25), datetime.date(2176, 6, 26),
        datetime.date(2176, 6, 27), datetime.date(2176, 6, 28),
        datetime.date(2176, 6, 29), datetime.date(2176, 6, 30),
        datetime.date(2176, 7, 1), datetime.date(2176, 7, 2)], dtype=object),
 364: array([datetime.date(2130, 5, 22), datetime.date(2130, 5, 23),
        datetime.date(2130, 5, 24), datetime.date(2130, 5, 25),
        datetime.date(2130, 5, 26), datetime.date(2130, 5, 27),
        datetime.date(2130, 5, 28), datetime.date(2130, 5, 29),
        datetime.date(2130, 5, 30), datetime.date(2130, 6, 5)],
       dtype=object),
 366: array([datetime.date(2164, 11, 18), datetime.date(2164, 11, 19)],
       dtype=object),
 368: array([datetime.date(2138, 5, 1), datetime.date(2138, 5, 2),
        datetime.date(2138, 5, 3), datetime.date(2139, 12, 16),
        datetime.date(2139, 12, 17), datetime.date(2139, 12, 18),
        datetime.date(2139, 12, 19), datetime.date(2139, 12, 20),
        datetime.date(2139, 12, 21), datetime.date(2139, 12, 22)],

# 교수님 피드백
```
dic_sub2idx : subject_id 정렬해서 idx 매김
dic_item2idx : itemid 정렬해서 idx 매김
dic_sub_charttime2idx : subject_id랑 charttime 정렬해서 idx 매김
```
next level...

In [16]:
df = merge_lab_pat.copy()
df

             CHARTTIME  ITEMID FLAG  EXPIRE_FLAG
SUBJECT_ID
9           2149-11-09   50856    0            1
9           2149-11-09   50868    0            1
9           2149-11-09   50879    0            1
9           2149-11-09   50880    0            1
9           2149-11-09   50882    1            1
...                ...     ...  ...          ...
99985       2182-03-14   51006    1            0
99985       2182-03-14   51146    0            0
99985       2182-03-14   51200    0            0
99985       2182-03-14   51221    1            0
99985       2182-03-14   51222    1            0

[9350027 rows x 4 columns]

In [76]:
dic_sub2idx = {}
for i,j in enumerate(df.index.unique()):
    dic_sub2idx[j] = i
dic_sub2idx

{9: 0,
 21: 1,
 31: 2,
 36: 3,
 37: 4,
 41: 5,
 68: 6,
 85: 7,
 94: 8,
 101: 9,
 103: 10,
 105: 11,
 109: 12,
 111: 13,
 112: 14,
 117: 15,
 124: 16,
 136: 17,
 148: 18,
 156: 19,
 157: 20,
 164: 21,
 166: 22,
 175: 23,
 177: 24,
 184: 25,
 186: 26,
 188: 27,
 191: 28,
 203: 29,
 208: 30,
 211: 31,
 214: 32,
 221: 33,
 222: 34,
 223: 35,
 224: 36,
 225: 37,
 231: 38,
 242: 39,
 248: 40,
 252: 41,
 253: 42,
 268: 43,
 269: 44,
 274: 45,
 283: 46,
 286: 47,
 290: 48,
 303: 49,
 305: 50,
 308: 51,
 323: 52,
 328: 53,
 330: 54,
 346: 55,
 356: 56,
 357: 57,
 360: 58,
 364: 59,
 366: 60,
 368: 61,
 370: 62,
 391: 63,
 404: 64,
 412: 65,
 423: 66,
 425: 67,
 426: 68,
 433: 69,
 434: 70,
 450: 71,
 452: 72,
 453: 73,
 457: 74,
 458: 75,
 481: 76,
 482: 77,
 492: 78,
 497: 79,
 499: 80,
 505: 81,
 507: 82,
 508: 83,
 509: 84,
 510: 85,
 514: 86,
 518: 87,
 530: 88,
 536: 89,
 538: 90,
 544: 91,
 546: 92,
 550: 93,
 565: 94,
 571: 95,
 576: 96,
 580: 97,
 586: 98,
 592: 99,
 596: 100,
 605: 101,
 618: 102,
 627: 103,
 634: 104,
 638: 105,
 654: 106,
 665: 107,
 670: 108,
 674: 109,
 676: 110,
 688: 111,
 689: 112,
 695: 113,
 698: 114,
 705: 115,
 707: 116,
 711: 117,
 719: 118,
 720: 119,
 726: 120,
 731: 121,
 738: 122,
 740: 123,
 745: 124,
 747: 125,
 784: 126,
 788: 127,
 798: 128,
 801: 129,
 803: 130,
 808: 131,
 813: 132,
 818: 133,
 819: 134,
 820: 135,
 824: 136,
 827: 137,
 834: 138,
 843: 139,
 851: 140,
 863: 141,
 870: 142,
 874: 143,
 878: 144,
 897: 145,
 906: 146,
 924: 147,
 938: 148,
 940: 149,
 943: 150,
 945: 151,
 946: 152,
 954: 153,
 976: 154,
 979: 155,
 1003: 156,
 1006: 157,
 1007: 158,
 1017: 159,
 1026: 160,
 1028: 161,
 1030: 162,
 1033: 163,
 1038: 164,
 1039: 165,
 1041: 166,
 1049: 167,
 1053: 168,
 1062: 169,
 1075: 170,
 1079: 171,
 1086: 172,
 1092: 173,
 1093: 174,
 1096: 175,
 1098: 176,
 1104: 177,
 1106: 178,
 1119: 179,
 1134: 180,
 1135: 181,
 1136: 182,
 1141: 183,
 1143: 184,
 1148: 185,
 1151: 186,
 1158: 187,
 1163: 188,
 1165: 189,
 1174: 190,
 1179: 191,
 1182: 192,
 1184: 193,
 1186: 194,
 1193: 195,
 1213: 196,
 1215: 197,
 1222: 198,
 1224: 199,
 1226: 200,
 1228: 201,
 1234: 202,
 1244: 203,
 1251: 204,
 1257: 205,
 1264: 206,
 1266: 207,
 1269: 208,
 1271: 209,
 1272: 210,
 1283: 211,
 1294: 212,
 1308: 213,
 1313: 214,
 1320: 215,
 1322: 216,
 1325: 217,
 1331: 218,
 1332: 219,
 1335: 220,
 1339: 221,
 1349: 222,
 1355: 223,
 1356: 224,
 1369: 225,
 1371: 226,
 1389: 227,
 1390: 228,
 1394: 229,
 1406: 230,
 1408: 231,
 1455: 232,
 1470: 233,
 1474: 234,
 1488: 235,
 1501: 236,
 1521: 237,
 1528: 238,
 1530: 239,
 1531: 240,
 1533: 241,
 1535: 242,
 1541: 243,
 1544: 244,
 1546: 245,
 1551: 246,
 1552: 247,
 1568: 248,
 1578: 249,
 1579: 250,
 1593: 251,
 1597: 252,
 1598: 253,
 1602: 254,
 1606: 255,
 1610: 256,
 1611: 257,
 1613: 258,
 1620: 259,
 1621: 260,
 1630: 261,
 1636: 262,
 1642: 263,
 1645: 264,
 1649: 265,
 1651: 266,
 1656: 267,
 1662: 268,
 1676: 269,
 1683: 270,
 1695: 271,
 1709: 272,
 1712: 273,
 1729: 274,
 1734: 275,
 1748: 276,
 1752: 277,
 1757: 278,
 1758: 279,
 1763: 280,
 1767: 281,
 1770: 282,
 1771: 283,
 1777: 284,
 1778: 285,
 1785: 286,
 1790: 287,
 1791: 288,
 1792: 289,
 1793: 290,
 1799: 291,
 1811: 292,
 1816: 293,
 1835: 294,
 1840: 295,
 1849: 296,
 1855: 297,
 1860: 298,
 1861: 299,
 1869: 300,
 1872: 301,
 1886: 302,
 1888: 303,
 1891: 304,
 1895: 305,
 1900: 306,
 1901: 307,
 1905: 308,
 1918: 309,
 1923: 310,
 1944: 311,
 1963: 312,
 1967: 313,
 1970: 314,
 1972: 315,
 1974: 316,
 1978: 317,
 1981: 318,
 1982: 319,
 1988: 320,
 1989: 321,
 1991: 322,
 1992: 323,
 1995: 324,
 1997: 325,
 2014: 326,
 2015: 327,
 2016: 328,
 2029: 329,
 2031: 330,
 2034: 331,
 2035: 332,
 2038: 333,
 2040: 334,
 2052: 335,
 2053: 336,
 2056: 337,
 2061: 338,
 2074: 339,
 2075: 340,
 2078: 341,
 2081: 342,
 2085: 343,
 2090: 344,
 2092: 345,
 2093: 346,
 2098: 347,
 2111: 348,
 2113: 349,
 2115: 350,
 2116: 351,
 2119: 352,
 2128: 353,
 2130: 354,
 2136: 355,
 2143: 356,
 2144: 357,
 2148: 358,
 2156: 359,
 2159: 360,
 2172: 361,
 2178: 362,
 2179: 363,
 2187: 364,
 2208: 365,
 2224: 366,
 2238: 367,
 2261: 368,
 2262: 369,
 2265: 370,
 2280: 371,
 2281: 372,
 2289: 373,
 2291: 374,
 2296: 375,
 2298: 376,
 2306: 377,
 2309: 378,
 2310: 379,
 2317: 380,
 2318: 381,
 2322: 382,
 2337: 383,
 2338: 384,
 2343: 385,
 2349: 386,
 2357: 387,
 2362: 388,
 2364: 389,
 2374: 390,
 2377: 391,
 2378: 392,
 2381: 393,
 2387: 394,
 2394: 395,
 2397: 396,
 2399: 397,
 2403: 398,
 2425: 399,
 2436: 400,
 2452: 401,
 2459: 402,
 2460: 403,
 2464: 404,
 2467: 405,
 2479: 406,
 2482: 407,
 2486: 408,
 2487: 409,
 2488: 410,
 2511: 411,
 2512: 412,
 2530: 413,
 2537: 414,
 2538: 415,
 2539: 416,
 2540: 417,
 2543: 418,
 2547: 419,
 2553: 420,
 2554: 421,
 2561: 422,
 2568: 423,
 2573: 424,
 2582: 425,
 2585: 426,
 2586: 427,
 2587: 428,
 2589: 429,
 2590: 430,
 2598: 431,
 2614: 432,
 2628: 433,
 2636: 434,
 2638: 435,
 2639: 436,
 2640: 437,
 2647: 438,
 2648: 439,
 2657: 440,
 2658: 441,
 2662: 442,
 2664: 443,
 2670: 444,
 2683: 445,
 2690: 446,
 2694: 447,
 2702: 448,
 2707: 449,
 2708: 450,
 2712: 451,
 2731: 452,
 2732: 453,
 2739: 454,
 2743: 455,
 2744: 456,
 2759: 457,
 2773: 458,
 2777: 459,
 2783: 460,
 2784: 461,
 2788: 462,
 2799: 463,
 2800: 464,
 2806: 465,
 2809: 466,
 2814: 467,
 2823: 468,
 2827: 469,
 2828: 470,
 2834: 471,
 2836: 472,
 2849: 473,
 2850: 474,
 2853: 475,
 2855: 476,
 2860: 477,
 2885: 478,
 2900: 479,
 2904: 480,
 2905: 481,
 2906: 482,
 2908: 483,
 2911: 484,
 2912: 485,
 2925: 486,
 2941: 487,
 2943: 488,
 2944: 489,
 2953: 490,
 2961: 491,
 2967: 492,
 2973: 493,
 2974: 494,
 2986: 495,
 2990: 496,
 2993: 497,
 3002: 498,
 3006: 499,
 3011: 500,
 3019: 501,
 3024: 502,
 3036: 503,
 3040: 504,
 3046: 505,
 3047: 506,
 3051: 507,
 3052: 508,
 3065: 509,
 3070: 510,
 3080: 511,
 3081: 512,
 3084: 513,
 3092: 514,
 3099: 515,
 3100: 516,
 3101: 517,
 3108: 518,
 3122: 519,
 3124: 520,
 3129: 521,
 3132: 522,
 3156: 523,
 3158: 524,
 3179: 525,
 3181: 526,
 3201: 527,
 3220: 528,
 3222: 529,
 3225: 530,
 3226: 531,
 3248: 532,
 3250: 533,
 3258: 534,
 3266: 535,
 3268: 536,
 3273: 537,
 3275: 538,
 3277: 539,
 3283: 540,
 3286: 541,
 3289: 542,
 3294: 543,
 3302: 544,
 3310: 545,
 3313: 546,
 3318: 547,
 3333: 548,
 3347: 549,
 3359: 550,
 3369: 551,
 3370: 552,
 3377: 553,
 3386: 554,
 3389: 555,
 3392: 556,
 3397: 557,
 3417: 558,
 3426: 559,
 3433: 560,
 3435: 561,
 3437: 562,
 3441: 563,
 3456: 564,
 3461: 565,
 3466: 566,
 3469: 567,
 3482: 568,
 3488: 569,
 3491: 570,
 3513: 571,
 3516: 572,
 3521: 573,
 3523: 574,
 3526: 575,
 3539: 576,
 3542: 577,
 3551: 578,
 3560: 579,
 3564: 580,
 3574: 581,
 3577: 582,
 3604: 583,
 3620: 584,
 3623: 585,
 3629: 586,
 3637: 587,
 3641: 588,
 3644: 589,
 3649: 590,
 3657: 591,
 3661: 592,
 3670: 593,
 3676: 594,
 3677: 595,
 3682: 596,
 3695: 597,
 3700: 598,
 3702: 599,
 3703: 600,
 3705: 601,
 3706: 602,
 3716: 603,
 3722: 604,
 3727: 605,
 3730: 606,
 3740: 607,
 3742: 608,
 3768: 609,
 3773: 610,
 3784: 611,
 3794: 612,
 3796: 613,
 3813: 614,
 3818: 615,
 3819: 616,
 3826: 617,
 3830: 618,
 3835: 619,
 3838: 620,
 3841: 621,
 3853: 622,
 3860: 623,
 3862: 624,
 3865: 625,
 3866: 626,
 3874: 627,
 3881: 628,
 3888: 629,
 3914: 630,
 3915: 631,
 3918: 632,
 3919: 633,
 3927: 634,
 3929: 635,
 3935: 636,
 3939: 637,
 3949: 638,
 3951: 639,
 3952: 640,
 3967: 641,
 3974: 642,
 3975: 643,
 3977: 644,
 3980: 645,
 3982: 646,
 3988: 647,
 3998: 648,
 3999: 649,
 4009: 650,
 4016: 651,
 4017: 652,
 4022: 653,
 4040: 654,
 4053: 655,
 4058: 656,
 4059: 657,
 4063: 658,
 4066: 659,
 4070: 660,
 4071: 661,
 4082: 662,
 4090: 663,
 4098: 664,
 4104: 665,
 4107: 666,
 4109: 667,
 4112: 668,
 4113: 669,
 4127: 670,
 4136: 671,
 4137: 672,
 4148: 673,
 4152: 674,
 4155: 675,
 4180: 676,
 4183: 677,
 4184: 678,
 4187: 679,
 4191: 680,
 4195: 681,
 4196: 682,
 4200: 683,
 4211: 684,
 4225: 685,
 4228: 686,
 4230: 687,
 4236: 688,
 4246: 689,
 4252: 690,
 4255: 691,
 4257: 692,
 4266: 693,
 4269: 694,
 4272: 695,
 4274: 696,
 4275: 697,
 4276: 698,
 4277: 699,
 4285: 700,
 4290: 701,
 4292: 702,
 4306: 703,
 4314: 704,
 4316: 705,
 4323: 706,
 4324: 707,
 4329: 708,
 4333: 709,
 4338: 710,
 4346: 711,
 4347: 712,
 4362: 713,
 4368: 714,
 4383: 715,
 4387: 716,
 4388: 717,
 4395: 718,
 4398: 719,
 4399: 720,
 4406: 721,
 4410: 722,
 4424: 723,
 4448: 724,
 4453: 725,
 4454: 726,
 4459: 727,
 4461: 728,
 4467: 729,
 4489: 730,
 4495: 731,
 4499: 732,
 4507: 733,
 4516: 734,
 4518: 735,
 4522: 736,
 4527: 737,
 4534: 738,
 4543: 739,
 4549: 740,
 4574: 741,
 4584: 742,
 4587: 743,
 4588: 744,
 4589: 745,
 4592: 746,
 4593: 747,
 4594: 748,
 4596: 749,
 4599: 750,
 4612: 751,
 4630: 752,
 4637: 753,
 4641: 754,
 4644: 755,
 4653: 756,
 4655: 757,
 4657: 758,
 4664: 759,
 4665: 760,
 4666: 761,
 4668: 762,
 4670: 763,
 4671: 764,
 4676: 765,
 4685: 766,
 4688: 767,
 4694: 768,
 4696: 769,
 4699: 770,
 4700: 771,
 4705: 772,
 4708: 773,
 4713: 774,
 4726: 775,
 4730: 776,
 4732: 777,
 4741: 778,
 4745: 779,
 4748: 780,
 4749: 781,
 4754: 782,
 4760: 783,
 4765: 784,
 4766: 785,
 4780: 786,
 4787: 787,
 4793: 788,
 4796: 789,
 4802: 790,
 4803: 791,
 4806: 792,
 4811: 793,
 4812: 794,
 4813: 795,
 4816: 796,
 4828: 797,
 4829: 798,
 4840: 799,
 4842: 800,
 4843: 801,
 4870: 802,
 4874: 803,
 4883: 804,
 4884: 805,
 4899: 806,
 4901: 807,
 4904: 808,
 4907: 809,
 4908: 810,
 4929: 811,
 4934: 812,
 4935: 813,
 4944: 814,
 4948: 815,
 4949: 816,
 4950: 817,
 4951: 818,
 4962: 819,
 4964: 820,
 4965: 821,
 4966: 822,
 4976: 823,
 4979: 824,
 4987: 825,
 4999: 826,
 5002: 827,
 5004: 828,
 5030: 829,
 5033: 830,
 5035: 831,
 5039: 832,
 5047: 833,
 5054: 834,
 5058: 835,
 5065: 836,
 5072: 837,
 5074: 838,
 5075: 839,
 5077: 840,
 5078: 841,
 5083: 842,
 5090: 843,
 5093: 844,
 5096: 845,
 5107: 846,
 5112: 847,
 5134: 848,
 5137: 849,
 5144: 850,
 5145: 851,
 5150: 852,
 5170: 853,
 5171: 854,
 5174: 855,
 5175: 856,
 5188: 857,
 5191: 858,
 5193: 859,
 5195: 860,
 5196: 861,
 5197: 862,
 5198: 863,
 5205: 864,
 5206: 865,
 5239: 866,
 5241: 867,
 5242: 868,
 5244: 869,
 5254: 870,
 5264: 871,
 5266: 872,
 5275: 873,
 5278: 874,
 5282: 875,
 5289: 876,
 5301: 877,
 5307: 878,
 5308: 879,
 5349: 880,
 5351: 881,
 5357: 882,
 5360: 883,
 5367: 884,
 5370: 885,
 5375: 886,
 5382: 887,
 5384: 888,
 5389: 889,
 5391: 890,
 5392: 891,
 5397: 892,
 5422: 893,
 5434: 894,
 5439: 895,
 5449: 896,
 5453: 897,
 5466: 898,
 5472: 899,
 5474: 900,
 5476: 901,
 5481: 902,
 5493: 903,
 5494: 904,
 5502: 905,
 5503: 906,
 5509: 907,
 5537: 908,
 5542: 909,
 5544: 910,
 5548: 911,
 5555: 912,
 5561: 913,
 5562: 914,
 5564: 915,
 5575: 916,
 5577: 917,
 5579: 918,
 5587: 919,
 5596: 920,
 5607: 921,
 5608: 922,
 5619: 923,
 5622: 924,
 5631: 925,
 5637: 926,
 5642: 927,
 5643: 928,
 5656: 929,
 5664: 930,
 5676: 931,
 5678: 932,
 5681: 933,
 5691: 934,
 5695: 935,
 5696: 936,
 5701: 937,
 5726: 938,
 5727: 939,
 5729: 940,
 5737: 941,
 5738: 942,
 5748: 943,
 5761: 944,
 5762: 945,
 5764: 946,
 5768: 947,
 5775: 948,
 5786: 949,
 5791: 950,
 5794: 951,
 5806: 952,
 5812: 953,
 5819: 954,
 5820: 955,
 5824: 956,
 5828: 957,
 5829: 958,
 5833: 959,
 5838: 960,
 5841: 961,
 5849: 962,
 5853: 963,
 5869: 964,
 5871: 965,
 5874: 966,
 5879: 967,
 5881: 968,
 5886: 969,
 5888: 970,
 5890: 971,
 5895: 972,
 5900: 973,
 5901: 974,
 5904: 975,
 5909: 976,
 5910: 977,
 5911: 978,
 5924: 979,
 5928: 980,
 5932: 981,
 5937: 982,
 5949: 983,
 5955: 984,
 5964: 985,
 5966: 986,
 5969: 987,
 5979: 988,
 5989: 989,
 5993: 990,
 6000: 991,
 6001: 992,
 6002: 993,
 6005: 994,
 6008: 995,
 6010: 996,
 6016: 997,
 6020: 998,
 6023: 999,
 ...}

In [18]:
dic_item2idx = {}
for i,j in enumerate(df['ITEMID'].sort_values().unique()):
    dic_item2idx[j] = i
dic_item2idx

{50800: 0,
 50801: 1,
 50802: 2,
 50803: 3,
 50804: 4,
 50805: 5,
 50806: 6,
 50808: 7,
 50809: 8,
 50810: 9,
 50811: 10,
 50812: 11,
 50813: 12,
 50814: 13,
 50815: 14,
 50816: 15,
 50817: 16,
 50818: 17,
 50819: 18,
 50820: 19,
 50821: 20,
 50822: 21,
 50823: 22,
 50824: 23,
 50825: 24,
 50826: 25,
 50827: 26,
 50828: 27,
 50829: 28,
 50830: 29,
 50831: 30,
 50832: 31,
 50835: 32,
 50836: 33,
 50837: 34,
 50838: 35,
 50839: 36,
 50840: 37,
 50841: 38,
 50842: 39,
 50843: 40,
 50844: 41,
 50845: 42,
 50847: 43,
 50848: 44,
 50849: 45,
 50850: 46,
 50851: 47,
 50852: 48,
 50853: 49,
 50854: 50,
 50855: 51,
 50856: 52,
 50857: 53,
 50858: 54,
 50859: 55,
 50860: 56,
 50861: 57,
 50862: 58,
 50863: 59,
 50864: 60,
 50865: 61,
 50866: 62,
 50867: 63,
 50868: 64,
 50869: 65,
 50870: 66,
 50871: 67,
 50872: 68,
 50873: 69,
 50874: 70,
 50875: 71,
 50876: 72,
 50877: 73,
 50878: 74,
 50879: 75,
 50880: 76,
 50881: 77,
 50882: 78,
 50883: 79,
 50884: 80,
 50885: 81,
 50886: 82,
 50887: 83,
 50889: 84,
 50890: 85,
 50891: 86,
 50892: 87,
 50893: 88,
 50894: 89,
 50895: 90,
 50896: 91,
 50898: 92,
 50899: 93,
 50900: 94,
 50901: 95,
 50902: 96,
 50903: 97,
 50904: 98,
 50905: 99,
 50906: 100,
 50907: 101,
 50908: 102,
 50909: 103,
 50910: 104,
 50911: 105,
 50912: 106,
 50913: 107,
 50914: 108,
 50915: 109,
 50916: 110,
 50917: 111,
 50918: 112,
 50919: 113,
 50920: 114,
 50921: 115,
 50922: 116,
 50924: 117,
 50925: 118,
 50926: 119,
 50927: 120,
 50928: 121,
 50929: 122,
 50930: 123,
 50931: 124,
 50932: 125,
 50933: 126,
 50934: 127,
 50935: 128,
 50936: 129,
 50937: 130,
 50938: 131,
 50939: 132,
 50940: 133,
 50941: 134,
 50942: 135,
 50943: 136,
 50944: 137,
 50945: 138,
 50946: 139,
 50947: 140,
 50948: 141,
 50949: 142,
 50950: 143,
 50951: 144,
 50952: 145,
 50953: 146,
 50954: 147,
 50955: 148,
 50956: 149,
 50957: 150,
 50958: 151,
 50959: 152,
 50960: 153,
 50961: 154,
 50962: 155,
 50963: 156,
 50964: 157,
 50965: 158,
 50966: 159,
 50967: 160,
 50968: 161,
 50969: 162,
 50970: 163,
 50971: 164,
 50972: 165,
 50973: 166,
 50974: 167,
 50975: 168,
 50976: 169,
 50977: 170,
 50978: 171,
 50979: 172,
 50980: 173,
 50981: 174,
 50982: 175,
 50983: 176,
 50986: 177,
 50988: 178,
 50989: 179,
 50990: 180,
 50991: 181,
 50992: 182,
 50993: 183,
 50994: 184,
 50995: 185,
 50996: 186,
 50997: 187,
 50998: 188,
 50999: 189,
 51000: 190,
 51001: 191,
 51002: 192,
 51003: 193,
 51004: 194,
 51005: 195,
 51006: 196,
 51007: 197,
 51008: 198,
 51009: 199,
 51010: 200,
 51011: 201,
 51012: 202,
 51014: 203,
 51015: 204,
 51016: 205,
 51017: 206,
 51018: 207,
 51019: 208,
 51020: 209,
 51021: 210,
 51022: 211,
 51023: 212,
 51024: 213,
 51025: 214,
 51026: 215,
 51027: 216,
 51028: 217,
 51029: 218,
 51030: 219,
 51031: 220,
 51032: 221,
 51034: 222,
 51035: 223,
 51036: 224,
 51037: 225,
 51038: 226,
 51039: 227,
 51040: 228,
 51041: 229,
 51042: 230,
 51043: 231,
 51044: 232,
 51045: 233,
 51046: 234,
 51047: 235,
 51049: 236,
 51050: 237,
 51051: 238,
 51052: 239,
 51053: 240,
 51054: 241,
 51057: 242,
 51058: 243,
 51059: 244,
 51060: 245,
 51061: 246,
 51062: 247,
 51063: 248,
 51064: 249,
 51065: 250,
 51066: 251,
 51067: 252,
 51068: 253,
 51069: 254,
 51070: 255,
 51071: 256,
 51072: 257,
 51073: 258,
 51074: 259,
 51075: 260,
 51076: 261,
 51077: 262,
 51078: 263,
 51079: 264,
 51080: 265,
 51081: 266,
 51082: 267,
 51083: 268,
 51084: 269,
 51085: 270,
 51086: 271,
 51087: 272,
 51088: 273,
 51089: 274,
 51090: 275,
 51091: 276,
 51092: 277,
 51093: 278,
 51094: 279,
 51095: 280,
 51096: 281,
 51097: 282,
 51098: 283,
 51099: 284,
 51100: 285,
 51101: 286,
 51102: 287,
 51103: 288,
 51104: 289,
 51105: 290,
 51106: 291,
 51108: 292,
 51109: 293,
 51110: 294,
 51111: 295,
 51112: 296,
 51113: 297,
 51114: 298,
 51115: 299,
 51116: 300,
 51117: 301,
 51118: 302,
 51119: 303,
 51120: 304,
 51121: 305,
 51122: 306,
 51123: 307,
 51124: 308,
 51125: 309,
 51126: 310,
 51127: 311,
 51128: 312,
 51130: 313,
 51131: 314,
 51132: 315,
 51133: 316,
 51134: 317,
 51135: 318,
 51136: 319,
 51137: 320,
 51138: 321,
 51139: 322,
 51140: 323,
 51142: 324,
 51143: 325,
 51144: 326,
 51145: 327,
 51146: 328,
 51147: 329,
 51148: 330,
 51149: 331,
 51150: 332,
 51151: 333,
 51152: 334,
 51153: 335,
 51154: 336,
 51155: 337,
 51156: 338,
 51157: 339,
 51158: 340,
 51159: 341,
 51160: 342,
 51161: 343,
 51162: 344,
 51163: 345,
 51164: 346,
 51167: 347,
 51168: 348,
 51171: 349,
 51172: 350,
 51173: 351,
 51174: 352,
 51175: 353,
 51176: 354,
 51177: 355,
 51178: 356,
 51179: 357,
 51180: 358,
 51181: 359,
 51182: 360,
 51183: 361,
 51184: 362,
 51185: 363,
 51186: 364,
 51187: 365,
 51188: 366,
 51189: 367,
 51190: 368,
 51191: 369,
 51192: 370,
 51193: 371,
 51194: 372,
 51195: 373,
 51196: 374,
 51197: 375,
 51198: 376,
 51199: 377,
 51200: 378,
 51201: 379,
 51202: 380,
 51203: 381,
 51204: 382,
 51205: 383,
 51206: 384,
 51207: 385,
 51208: 386,
 51209: 387,
 51210: 388,
 51211: 389,
 51212: 390,
 51213: 391,
 51214: 392,
 51215: 393,
 51216: 394,
 51217: 395,
 51218: 396,
 51219: 397,
 51220: 398,
 51221: 399,
 51222: 400,
 51223: 401,
 51224: 402,
 51225: 403,
 51226: 404,
 51227: 405,
 51228: 406,
 51229: 407,
 51230: 408,
 51231: 409,
 51232: 410,
 51233: 411,
 51234: 412,
 51235: 413,
 51236: 414,
 51237: 415,
 51238: 416,
 51239: 417,
 51240: 418,
 51241: 419,
 51243: 420,
 51244: 421,
 51245: 422,
 51246: 423,
 51247: 424,
 51248: 425,
 51249: 426,
 51250: 427,
 51251: 428,
 51252: 429,
 51253: 430,
 51254: 431,
 51255: 432,
 51256: 433,
 51257: 434,
 51259: 435,
 51260: 436,
 51261: 437,
 51262: 438,
 51263: 439,
 51264: 440,
 51265: 441,
 51266: 442,
 51267: 443,
 51268: 444,
 51269: 445,
 51270: 446,
 51271: 447,
 51272: 448,
 51273: 449,
 51274: 450,
 51275: 451,
 51276: 452,
 51277: 453,
 51278: 454,
 51279: 455,
 51280: 456,
 51281: 457,
 51283: 458,
 51284: 459,
 51285: 460,
 51286: 461,
 51287: 462,
 51288: 463,
 51289: 464,
 51290: 465,
 51291: 466,
 51292: 467,
 51293: 468,
 51294: 469,
 51295: 470,
 51296: 471,
 51297: 472,
 51298: 473,
 51299: 474,
 51300: 475,
 51301: 476,
 51302: 477,
 51303: 478,
 51304: 479,
 51305: 480,
 51306: 481,
 51307: 482,
 51308: 483,
 51309: 484,
 51310: 485,
 51311: 486,
 51312: 487,
 51313: 488,
 51314: 489,
 51315: 490,
 51316: 491,
 51317: 492,
 51318: 493,
 51319: 494,
 51320: 495,
 51321: 496,
 51322: 497,
 51323: 498,
 51324: 499,
 51325: 500,
 51326: 501,
 51328: 502,
 51331: 503,
 51332: 504,
 51333: 505,
 51334: 506,
 51335: 507,
 51336: 508,
 51337: 509,
 51338: 510,
 51339: 511,
 51340: 512,
 51341: 513,
 51342: 514,
 51343: 515,
 51344: 516,
 51345: 517,
 51346: 518,
 51347: 519,
 51348: 520,
 51350: 521,
 51351: 522,
 51352: 523,
 51353: 524,
 51354: 525,
 51355: 526,
 51356: 527,
 51357: 528,
 51358: 529,
 51359: 530,
 51360: 531,
 51361: 532,
 51362: 533,
 51363: 534,
 51364: 535,
 51365: 536,
 51366: 537,
 51367: 538,
 51368: 539,
 51369: 540,
 51370: 541,
 51372: 542,
 51373: 543,
 51374: 544,
 51375: 545,
 51376: 546,
 51377: 547,
 51378: 548,
 51379: 549,
 51380: 550,
 51381: 551,
 51382: 552,
 51383: 553,
 51384: 554,
 51385: 555,
 51386: 556,
 51387: 557,
 51388: 558,
 51390: 559,
 51391: 560,
 51392: 561,
 51393: 562,
 51394: 563,
 51395: 564,
 51397: 565,
 51398: 566,
 51399: 567,
 51400: 568,
 51401: 569,
 51402: 570,
 51403: 571,
 51404: 572,
 51405: 573,
 51406: 574,
 51407: 575,
 51408: 576,
 51409: 577,
 51410: 578,
 51411: 579,
 51412: 580,
 51413: 581,
 51415: 582,
 51416: 583,
 51417: 584,
 51418: 585,
 51419: 586,
 51420: 587,
 51421: 588,
 51422: 589,
 51423: 590,
 51424: 591,
 51425: 592,
 51426: 593,
 51427: 594,
 51428: 595,
 51429: 596,
 51430: 597,
 51431: 598,
 51432: 599,
 51433: 600,
 51434: 601,
 51435: 602,
 51436: 603,
 51437: 604,
 51438: 605,
 51439: 606,
 51440: 607,
 51441: 608,
 51442: 609,
 51443: 610,
 51444: 611,
 51445: 612,
 51446: 613,
 51447: 614,
 51448: 615,
 51449: 616,
 51450: 617,
 51451: 618,
 51452: 619,
 51453: 620,
 51454: 621,
 51455: 622,
 51456: 623,
 51457: 624,
 51458: 625,
 51459: 626,
 51460: 627,
 51461: 628,
 51462: 629,
 51463: 630,
 51464: 631,
 51465: 632,
 51466: 633,
 51467: 634,
 51468: 635,
 51469: 636,
 51470: 637,
 51471: 638,
 51472: 639,
 51474: 640,
 51475: 641,
 51476: 642,
 51477: 643,
 51478: 644,
 51479: 645,
 51480: 646,
 51481: 647,
 51482: 648,
 51484: 649,
 51486: 650,
 51487: 651,
 51488: 652,
 51489: 653,
 51490: 654,
 51491: 655,
 51492: 656,
 51493: 657,
 51494: 658,
 51495: 659,
 51497: 660,
 51498: 661,
 51499: 662,
 51500: 663,
 51501: 664,
 51502: 665,
 51503: 666,
 51504: 667,
 51505: 668,
 51506: 669,
 51507: 670,
 51508: 671,
 51510: 672,
 51511: 673,
 51512: 674,
 51513: 675,
 51514: 676,
 51515: 677,
 51516: 678,
 51517: 679,
 51518: 680,
 51519: 681,
 51520: 682,
 51521: 683,
 51523: 684,
 51525: 685,
 51526: 686,
 51529: 687,
 51533: 688,
 51537: 689}

In [19]:
# 이 경우 튜플리스트 부터 만들고 idx는 나중에 붙여.
# 튜플리스트 만들기
t = []
for i in df.index.unique():
    for j in range(len(dic[i])):
        t.append((i, dic[i][j]))

# idx dic 만들기
dic_sub_charttime2idx = {}

c = 0
for i in range(len(t)):
    k = len(dic[t[i][0]]) - 1
    
    if i == 0 or t[i][0] != t[i-1][0]:
        c = 0
        dic_sub_charttime2idx[t[i]] = c
        c += 1

    elif t[i][0] == t[i-1][0]:
        dic_sub_charttime2idx[t[i]] = c
        c += 1

In [20]:
dic_sub_charttime2idx

{(9, datetime.date(2149, 11, 9)): 0,
 (9, datetime.date(2149, 11, 10)): 1,
 (9, datetime.date(2149, 11, 11)): 2,
 (9, datetime.date(2149, 11, 12)): 3,
 (9, datetime.date(2149, 11, 13)): 4,
 (9, datetime.date(2149, 11, 14)): 5,
 (21, datetime.date(2135, 1, 10)): 0,
 (21, datetime.date(2135, 1, 11)): 1,
 (21, datetime.date(2135, 1, 30)): 2,
 (21, datetime.date(2135, 1, 31)): 3,
 (21, datetime.date(2135, 2, 1)): 4,
 (21, datetime.date(2135, 2, 2)): 5,
 (21, datetime.date(2135, 2, 3)): 6,
 (21, datetime.date(2135, 2, 4)): 7,
 (21, datetime.date(2135, 2, 5)): 8,
 (21, datetime.date(2135, 2, 6)): 9,
 (31, datetime.date(2108, 8, 22)): 0,
 (31, datetime.date(2108, 8, 23)): 1,
 (31, datetime.date(2108, 8, 24)): 2,
 (31, datetime.date(2108, 8, 25)): 3,
 (31, datetime.date(2108, 8, 26)): 4,
 (31, datetime.date(2108, 8, 27)): 5,
 (31, datetime.date(2108, 8, 28)): 6,
 (31, datetime.date(2108, 8, 29)): 7,
 (31, datetime.date(2108, 8, 30)): 8,
 (36, datetime.date(2134, 5, 11)): 0,
 (36, datetime.date(2134, 5, 12)): 1,
 (36, datetime.date(2134, 5, 13)): 2,
 (36, datetime.date(2134, 5, 14)): 3,
 (36, datetime.date(2134, 5, 15)): 4,
 (36, datetime.date(2134, 5, 16)): 5,
 (36, datetime.date(2134, 5, 17)): 6,
 (36, datetime.date(2134, 5, 18)): 7,
 (36, datetime.date(2134, 5, 19)): 8,
 (36, datetime.date(2134, 5, 20)): 9,
 (37, datetime.date(2183, 8, 21)): 0,
 (37, datetime.date(2183, 8, 22)): 1,
 (37, datetime.date(2183, 8, 23)): 2,
 (37, datetime.date(2183, 8, 24)): 3,
 (37, datetime.date(2183, 8, 25)): 4,
 (37, datetime.date(2183, 8, 26)): 5,
 (37, datetime.date(2183, 10, 7)): 6,
 (37, datetime.date(2184, 4, 27)): 7,
 (41, datetime.date(2133, 1, 18)): 0,
 (41, datetime.date(2133, 1, 19)): 1,
 (41, datetime.date(2133, 1, 20)): 2,
 (41, datetime.date(2133, 1, 21)): 3,
 (41, datetime.date(2133, 1, 22)): 4,
 (41, datetime.date(2133, 1, 23)): 5,
 (41, datetime.date(2133, 1, 24)): 6,
 (41, datetime.date(2133, 1, 25)): 7,
 (41, datetime.date(2133, 1, 26)): 8,
 (41, datetime.date(2133, 1, 27)): 9,
 (68, datetime.date(2174, 1, 9)): 0,
 (68, datetime.date(2174, 1, 10)): 1,
 (68, datetime.date(2174, 1, 11)): 2,
 (68, datetime.date(2174, 1, 12)): 3,
 (68, datetime.date(2174, 1, 13)): 4,
 (68, datetime.date(2174, 1, 14)): 5,
 (68, datetime.date(2174, 1, 15)): 6,
 (68, datetime.date(2174, 1, 16)): 7,
 (68, datetime.date(2174, 1, 17)): 8,
 (68, datetime.date(2174, 1, 18)): 9,
 (85, datetime.date(2162, 3, 10)): 0,
 (85, datetime.date(2162, 3, 23)): 1,
 (85, datetime.date(2162, 7, 20)): 2,
 (85, datetime.date(2162, 8, 19)): 3,
 (85, datetime.date(2167, 7, 25)): 4,
 (85, datetime.date(2167, 7, 26)): 5,
 (85, datetime.date(2167, 7, 27)): 6,
 (85, datetime.date(2167, 7, 28)): 7,
 (85, datetime.date(2167, 7, 29)): 8,
 (85, datetime.date(2167, 7, 30)): 9,
 (94, datetime.date(2176, 9, 10)): 0,
 (94, datetime.date(2176, 9, 11)): 1,
 (94, datetime.date(2176, 9, 12)): 2,
 (94, datetime.date(2176, 9, 13)): 3,
 (94, datetime.date(2176, 9, 14)): 4,
 (94, datetime.date(2176, 9, 15)): 5,
 (94, datetime.date(2176, 9, 16)): 6,
 (94, datetime.date(2176, 9, 17)): 7,
 (94, datetime.date(2176, 9, 18)): 8,
 (94, datetime.date(2176, 9, 19)): 9,
 (101, datetime.date(2196, 9, 28)): 0,
 (101, datetime.date(2196, 9, 29)): 1,
 (101, datetime.date(2196, 9, 30)): 2,
 (101, datetime.date(2196, 10, 1)): 3,
 (101, datetime.date(2196, 10, 2)): 4,
 (101, datetime.date(2196, 10, 3)): 5,
 (101, datetime.date(2196, 10, 4)): 6,
 (101, datetime.date(2196, 10, 5)): 7,
 (101, datetime.date(2196, 10, 6)): 8,
 (101, datetime.date(2196, 10, 7)): 9,
 (103, datetime.date(2144, 8, 12)): 0,
 (103, datetime.date(2144, 8, 13)): 1,
 (103, datetime.date(2144, 8, 14)): 2,
 (103, datetime.date(2144, 8, 15)): 3,
 (103, datetime.date(2144, 8, 16)): 4,
 (103, datetime.date(2144, 8, 17)): 5,
 (103, datetime.date(2144, 8, 18)): 6,
 (103, datetime.date(2144, 8, 30)): 7,
 (103, datetime.date(2144, 8, 31)): 8,
 (105, datetime.date(2189, 1, 29)): 0,
 (105, datetime.date(2189, 1, 30)): 1,
 (105, datetime.date(2189, 1, 31)): 2,
 (105, datetime.date(2189, 2, 1)): 3,
 (105, datetime.date(2189, 2, 2)): 4,
 (105, datetime.date(2189, 2, 20)): 5,
 (105, datetime.date(2189, 2, 21)): 6,
 (105, datetime.date(2189, 2, 23)): 7,
 (105, datetime.date(2189, 2, 24)): 8,
 (105, datetime.date(2189, 2, 25)): 9,
 (109, datetime.date(2142, 7, 19)): 0,
 (109, datetime.date(2142, 7, 20)): 1,
 (109, datetime.date(2142, 7, 21)): 2,
 (109, datetime.date(2142, 7, 22)): 3,
 (109, datetime.date(2142, 8, 13)): 4,
 (109, datetime.date(2142, 8, 14)): 5,
 (109, datetime.date(2142, 8, 16)): 6,
 (109, datetime.date(2142, 8, 28)): 7,
 (109, datetime.date(2142, 8, 29)): 8,
 (109, datetime.date(2142, 8, 30)): 9,
 (111, datetime.date(2142, 4, 28)): 0,
 (111, datetime.date(2142, 4, 29)): 1,
 (111, datetime.date(2142, 4, 30)): 2,
 (111, datetime.date(2142, 5, 1)): 3,
 (111, datetime.date(2142, 5, 2)): 4,
 (111, datetime.date(2142, 5, 3)): 5,
 (111, datetime.date(2142, 5, 4)): 6,
 (111, datetime.date(2142, 8, 22)): 7,
 (111, datetime.date(2143, 4, 17)): 8,
 (111, datetime.date(2144, 7, 1)): 9,
 (112, datetime.date(2194, 6, 13)): 0,
 (112, datetime.date(2194, 6, 14)): 1,
 (112, datetime.date(2194, 6, 15)): 2,
 (112, datetime.date(2194, 6, 16)): 3,
 (112, datetime.date(2194, 6, 17)): 4,
 (112, datetime.date(2194, 7, 25)): 5,
 (112, datetime.date(2194, 11, 17)): 6,
 (112, datetime.date(2195, 3, 24)): 7,
 (112, datetime.date(2196, 9, 27)): 8,
 (112, datetime.date(2196, 9, 28)): 9,
 (117, datetime.date(2133, 11, 22)): 0,
 (117, datetime.date(2133, 11, 23)): 1,
 (117, datetime.date(2133, 11, 24)): 2,
 (117, datetime.date(2133, 11, 25)): 3,
 (117, datetime.date(2133, 11, 26)): 4,
 (117, datetime.date(2133, 11, 27)): 5,
 (117, datetime.date(2133, 11, 28)): 6,
 (117, datetime.date(2133, 11, 29)): 7,
 (117, datetime.date(2133, 11, 30)): 8,
 (117, datetime.date(2133, 12, 1)): 9,
 (124, datetime.date(2166, 1, 20)): 0,
 (124, datetime.date(2166, 1, 21)): 1,
 (124, datetime.date(2166, 1, 22)): 2,
 (124, datetime.date(2166, 1, 23)): 3,
 (124, datetime.date(2166, 1, 24)): 4,
 (124, datetime.date(2166, 1, 25)): 5,
 (124, datetime.date(2166, 1, 26)): 6,
 (124, datetime.date(2166, 1, 27)): 7,
 (124, datetime.date(2166, 1, 28)): 8,
 (124, datetime.date(2166, 1, 29)): 9,
 (136, datetime.date(2103, 4, 20)): 0,
 (136, datetime.date(2103, 5, 9)): 1,
 (136, datetime.date(2103, 5, 10)): 2,
 (136, datetime.date(2103, 5, 11)): 3,
 (136, datetime.date(2103, 5, 12)): 4,
 (136, datetime.date(2103, 5, 14)): 5,
 (136, datetime.date(2103, 6, 18)): 6,
 (148, datetime.date(2107, 9, 29)): 0,
 (148, datetime.date(2107, 9, 30)): 1,
 (148, datetime.date(2107, 10, 1)): 2,
 (148, datetime.date(2107, 10, 2)): 3,
 (148, datetime.date(2107, 10, 3)): 4,
 (148, datetime.date(2107, 10, 4)): 5,
 (148, datetime.date(2107, 10, 5)): 6,
 (148, datetime.date(2107, 10, 6)): 7,
 (148, datetime.date(2107, 10, 7)): 8,
 (148, datetime.date(2107, 10, 8)): 9,
 (156, datetime.date(2121, 1, 26)): 0,
 (156, datetime.date(2121, 1, 27)): 1,
 (156, datetime.date(2121, 2, 26)): 2,
 (156, datetime.date(2121, 3, 1)): 3,
 (156, datetime.date(2121, 3, 2)): 4,
 (156, datetime.date(2121, 3, 3)): 5,
 (156, datetime.date(2121, 3, 19)): 6,
 (156, datetime.date(2121, 3, 31)): 7,
 (156, datetime.date(2121, 4, 14)): 8,
 (156, datetime.date(2121, 5, 14)): 9,
 (157, datetime.date(2106, 5, 29)): 0,
 (157, datetime.date(2106, 5, 30)): 1,
 (157, datetime.date(2106, 6, 17)): 2,
 (157, datetime.date(2106, 6, 18)): 3,
 (157, datetime.date(2106, 6, 19)): 4,
 (157, datetime.date(2106, 6, 20)): 5,
 (157, datetime.date(2106, 6, 21)): 6,
 (157, datetime.date(2106, 6, 22)): 7,
 (157, datetime.date(2106, 6, 23)): 8,
 (157, datetime.date(2106, 6, 24)): 9,
 (164, datetime.date(2117, 1, 6)): 0,
 (164, datetime.date(2117, 1, 7)): 1,
 (164, datetime.date(2117, 1, 8)): 2,
 (164, datetime.date(2117, 1, 9)): 3,
 (164, datetime.date(2117, 1, 10)): 4,
 (164, datetime.date(2117, 1, 11)): 5,
 (164, datetime.date(2117, 1, 12)): 6,
 (164, datetime.date(2117, 1, 13)): 7,
 (164, datetime.date(2117, 1, 14)): 8,
 (164, datetime.date(2117, 1, 15)): 9,
 (166, datetime.date(2105, 1, 23)): 0,
 (166, datetime.date(2105, 1, 24)): 1,
 (175, datetime.date(2183, 12, 29)): 0,
 (175, datetime.date(2184, 1, 21)): 1,
 (175, datetime.date(2184, 1, 22)): 2,
 (175, datetime.date(2184, 1, 23)): 3,
 (175, datetime.date(2184, 1, 24)): 4,
 (175, datetime.date(2184, 1, 25)): 5,
 (175, datetime.date(2184, 1, 26)): 6,
 (175, datetime.date(2184, 1, 27)): 7,
 (175, datetime.date(2184, 1, 28)): 8,
 (175, datetime.date(2184, 1, 29)): 9,
 (177, datetime.date(2125, 12, 3)): 0,
 (177, datetime.date(2125, 12, 4)): 1,
 (177, datetime.date(2125, 12, 5)): 2,
 (177, datetime.date(2125, 12, 6)): 3,
 (177, datetime.date(2125, 12, 7)): 4,
 (177, datetime.date(2125, 12, 8)): 5,
 (177, datetime.date(2125, 12, 9)): 6,
 (177, datetime.date(2125, 12, 10)): 7,
 (177, datetime.date(2125, 12, 11)): 8,
 (177, datetime.date(2125, 12, 12)): 9,
 (184, datetime.date(2168, 5, 3)): 0,
 (184, datetime.date(2168, 5, 4)): 1,
 (184, datetime.date(2168, 5, 5)): 2,
 (184, datetime.date(2168, 5, 6)): 3,
 (184, datetime.date(2168, 5, 7)): 4,
 (184, datetime.date(2168, 5, 8)): 5,
 (184, datetime.date(2168, 5, 9)): 6,
 (184, datetime.date(2168, 5, 10)): 7,
 (184, datetime.date(2168, 5, 11)): 8,
 (184, datetime.date(2168, 5, 12)): 9,
 (186, datetime.date(2176, 10, 1)): 0,
 (186, datetime.date(2176, 10, 14)): 1,
 (186, datetime.date(2176, 11, 18)): 2,
 (186, datetime.date(2177, 1, 15)): 3,
 (186, datetime.date(2177, 1, 16)): 4,
 (186, datetime.date(2177, 1, 17)): 5,
 (186, datetime.date(2177, 1, 30)): 6,
 (186, datetime.date(2177, 1, 31)): 7,
 (186, datetime.date(2177, 2, 1)): 8,
 (186, datetime.date(2177, 2, 19)): 9,
 (188, datetime.date(2162, 1, 7)): 0,
 (188, datetime.date(2162, 1, 8)): 1,
 (188, datetime.date(2162, 1, 9)): 2,
 (188, datetime.date(2162, 1, 10)): 3,
 (188, datetime.date(2162, 1, 11)): 4,
 (188, datetime.date(2162, 1, 12)): 5,
 (188, datetime.date(2162, 1, 13)): 6,
 (188, datetime.date(2162, 1, 14)): 7,
 (188, datetime.date(2162, 1, 15)): 8,
 (188, datetime.date(2162, 1, 16)): 9,
 (191, datetime.date(2196, 4, 12)): 0,
 (191, datetime.date(2196, 4, 13)): 1,
 (191, datetime.date(2196, 4, 14)): 2,
 (191, datetime.date(2196, 4, 15)): 3,
 (191, datetime.date(2196, 4, 16)): 4,
 (191, datetime.date(2196, 4, 17)): 5,
 (191, datetime.date(2196, 4, 18)): 6,
 (191, datetime.date(2196, 4, 19)): 7,
 (191, datetime.date(2196, 4, 20)): 8,
 (191, datetime.date(2196, 4, 21)): 9,
 (203, datetime.date(2160, 4, 28)): 0,
 (203, datetime.date(2160, 4, 29)): 1,
 (203, datetime.date(2160, 4, 30)): 2,
 (203, datetime.date(2160, 5, 1)): 3,
 (203, datetime.date(2160, 5, 2)): 4,
 (203, datetime.date(2160, 5, 3)): 5,
 (203, datetime.date(2160, 5, 4)): 6,
 (203, datetime.date(2160, 5, 5)): 7,
 (203, datetime.date(2160, 5, 6)): 8,
 (203, datetime.date(2160, 5, 7)): 9,
 (208, datetime.date(2188, 5, 13)): 0,
 (208, datetime.date(2188, 5, 14)): 1,
 (208, datetime.date(2188, 5, 15)): 2,
 (208, datetime.date(2188, 5, 16)): 3,
 (208, datetime.date(2188, 5, 17)): 4,
 (208, datetime.date(2188, 5, 18)): 5,
 (208, datetime.date(2188, 5, 19)): 6,
 (211, datetime.date(2197, 12, 20)): 0,
 (211, datetime.date(2197, 12, 21)): 1,
 (211, datetime.date(2197, 12, 22)): 2,
 (211, datetime.date(2197, 12, 23)): 3,
 (211, datetime.date(2197, 12, 24)): 4,
 (211, datetime.date(2197, 12, 25)): 5,
 (211, datetime.date(2197, 12, 26)): 6,
 (211, datetime.date(2197, 12, 27)): 7,
 (211, datetime.date(2197, 12, 28)): 8,
 (211, datetime.date(2197, 12, 29)): 9,
 (214, datetime.date(2188, 10, 27)): 0,
 (214, datetime.date(2188, 10, 28)): 1,
 (214, datetime.date(2188, 10, 29)): 2,
 (214, datetime.date(2188, 10, 30)): 3,
 (214, datetime.date(2188, 10, 31)): 4,
 (214, datetime.date(2188, 11, 1)): 5,
 (214, datetime.date(2188, 11, 2)): 6,
 (214, datetime.date(2188, 11, 3)): 7,
 (214, datetime.date(2188, 11, 4)): 8,
 (214, datetime.date(2188, 11, 25)): 9,
 (221, datetime.date(2103, 12, 14)): 0,
 (221, datetime.date(2103, 12, 15)): 1,
 (221, datetime.date(2103, 12, 16)): 2,
 (221, datetime.date(2103, 12, 17)): 3,
 (221, datetime.date(2103, 12, 18)): 4,
 (221, datetime.date(2103, 12, 19)): 5,
 (221, datetime.date(2103, 12, 20)): 6,
 (221, datetime.date(2103, 12, 21)): 7,
 (221, datetime.date(2103, 12, 22)): 8,
 (221, datetime.date(2103, 12, 23)): 9,
 (222, datetime.date(2143, 1, 9)): 0,
 (222, datetime.date(2143, 1, 10)): 1,
 (222, datetime.date(2143, 1, 11)): 2,
 (222, datetime.date(2143, 1, 12)): 3,
 (222, datetime.date(2143, 1, 13)): 4,
 (222, datetime.date(2143, 1, 14)): 5,
 (222, datetime.date(2143, 1, 29)): 6,
 (222, datetime.date(2143, 2, 16)): 7,
 (222, datetime.date(2143, 2, 17)): 8,
 (222, datetime.date(2143, 2, 18)): 9,
 (223, datetime.date(2157, 5, 29)): 0,
 (223, datetime.date(2157, 5, 30)): 1,
 (223, datetime.date(2157, 5, 31)): 2,
 (223, datetime.date(2157, 6, 1)): 3,
 (223, datetime.date(2157, 6, 2)): 4,
 (223, datetime.date(2157, 6, 3)): 5,
 (223, datetime.date(2157, 6, 4)): 6,
 (223, datetime.date(2157, 6, 5)): 7,
 (223, datetime.date(2157, 6, 8)): 8,
 (223, datetime.date(2157, 6, 30)): 9,
 (224, datetime.date(2151, 4, 1)): 0,
 (224, datetime.date(2151, 4, 2)): 1,
 (225, datetime.date(2168, 6, 27)): 0,
 (225, datetime.date(2168, 6, 28)): 1,
 (225, datetime.date(2168, 6, 29)): 2,
 (225, datetime.date(2168, 6, 30)): 3,
 (225, datetime.date(2168, 7, 1)): 4,
 (225, datetime.date(2168, 7, 6)): 5,
 (225, datetime.date(2168, 7, 12)): 6,
 (225, datetime.date(2168, 7, 26)): 7,
 (225, datetime.date(2168, 9, 19)): 8,
 (225, datetime.date(2168, 11, 22)): 9,
 (231, datetime.date(2176, 8, 21)): 0,
 (231, datetime.date(2176, 8, 29)): 1,
 (231, datetime.date(2176, 10, 9)): 2,
 (231, datetime.date(2177, 2, 17)): 3,
 (231, datetime.date(2177, 3, 3)): 4,
 (231, datetime.date(2177, 4, 26)): 5,
 (231, datetime.date(2178, 8, 6)): 6,
 (231, datetime.date(2178, 8, 7)): 7,
 (231, datetime.date(2178, 8, 8)): 8,
 (231, datetime.date(2178, 8, 9)): 9,
 (242, datetime.date(2122, 1, 16)): 0,
 (242, datetime.date(2122, 1, 17)): 1,
 (242, datetime.date(2122, 1, 18)): 2,
 (242, datetime.date(2122, 1, 19)): 3,
 (242, datetime.date(2122, 1, 20)): 4,
 (242, datetime.date(2122, 3, 30)): 5,
 (242, datetime.date(2122, 3, 31)): 6,
 (242, datetime.date(2122, 4, 2)): 7,
 (242, datetime.date(2122, 4, 5)): 8,
 (248, datetime.date(2142, 10, 26)): 0,
 (248, datetime.date(2142, 10, 27)): 1,
 (248, datetime.date(2142, 10, 28)): 2,
 (248, datetime.date(2142, 10, 29)): 3,
 (248, datetime.date(2142, 10, 31)): 4,
 (248, datetime.date(2142, 11, 1)): 5,
 (248, datetime.date(2142, 11, 2)): 6,
 (248, datetime.date(2142, 11, 3)): 7,
 (248, datetime.date(2142, 11, 5)): 8,
 (248, datetime.date(2142, 11, 6)): 9,
 (252, datetime.date(2133, 4, 23)): 0,
 (252, datetime.date(2133, 8, 12)): 1,
 (252, datetime.date(2133, 8, 15)): 2,
 (252, datetime.date(2133, 8, 16)): 3,
 (252, datetime.date(2133, 8, 17)): 4,
 (252, datetime.date(2133, 8, 18)): 5,
 (252, datetime.date(2133, 8, 19)): 6,
 (252, datetime.date(2133, 10, 28)): 7,
 (252, datetime.date(2133, 12, 25)): 8,
 (252, datetime.date(2134, 2, 26)): 9,
 (253, datetime.date(2174, 1, 21)): 0,
 (253, datetime.date(2174, 1, 22)): 1,
 (253, datetime.date(2174, 1, 23)): 2,
 (253, datetime.date(2174, 1, 24)): 3,
 (253, datetime.date(2174, 1, 25)): 4,
 (253, datetime.date(2174, 1, 26)): 5,
 (268, datetime.date(2198, 2, 2)): 0,
 (268, datetime.date(2198, 2, 3)): 1,
 (268, datetime.date(2198, 2, 4)): 2,
 (268, datetime.date(2198, 2, 11)): 3,
 (268, datetime.date(2198, 2, 12)): 4,
 (268, datetime.date(2198, 2, 13)): 5,
 (268, datetime.date(2198, 2, 14)): 6,
 (268, datetime.date(2198, 2, 15)): 7,
 (268, datetime.date(2198, 2, 16)): 8,
 (268, datetime.date(2198, 2, 17)): 9,
 (269, datetime.date(2170, 11, 19)): 0,
 (269, datetime.date(2170, 11, 20)): 1,
 (269, datetime.date(2170, 11, 21)): 2,
 (269, datetime.date(2170, 11, 22)): 3,
 (269, datetime.date(2170, 11, 23)): 4,
 (269, datetime.date(2170, 11, 25)): 5,
 (269, datetime.date(2170, 11, 26)): 6,
 (269, datetime.date(2170, 11, 30)): 7,
 (269, datetime.date(2170, 12, 1)): 8,
 (269, datetime.date(2170, 12, 2)): 9,
 (274, datetime.date(2119, 10, 12)): 0,
 (274, datetime.date(2119, 11, 21)): 1,
 (274, datetime.date(2119, 12, 1)): 2,
 (274, datetime.date(2119, 12, 21)): 3,
 (274, datetime.date(2120, 1, 8)): 4,
 (274, datetime.date(2120, 1, 16)): 5,
 (274, datetime.date(2120, 1, 17)): 6,
 (274, datetime.date(2120, 2, 7)): 7,
 (274, datetime.date(2120, 2, 13)): 8,
 (274, datetime.date(2120, 5, 2)): 9,
 (283, datetime.date(2166, 9, 9)): 0,
 (283, datetime.date(2166, 9, 10)): 1,
 (283, datetime.date(2166, 9, 11)): 2,
 (283, datetime.date(2166, 9, 12)): 3,
 (283, datetime.date(2166, 10, 2)): 4,
 (283, datetime.date(2166, 10, 3)): 5,
 (283, datetime.date(2166, 10, 4)): 6,
 (283, datetime.date(2166, 10, 5)): 7,
 (283, datetime.date(2166, 10, 6)): 8,
 (283, datetime.date(2166, 10, 7)): 9,
 (286, datetime.date(2176, 2, 18)): 0,
 (286, datetime.date(2176, 2, 19)): 1,
 (286, datetime.date(2176, 2, 20)): 2,
 (286, datetime.date(2176, 2, 21)): 3,
 (286, datetime.date(2176, 2, 22)): 4,
 (286, datetime.date(2176, 2, 23)): 5,
 (286, datetime.date(2176, 2, 24)): 6,
 (286, datetime.date(2176, 4, 10)): 7,
 (286, datetime.date(2176, 4, 11)): 8,
 (286, datetime.date(2176, 4, 12)): 9,
 (290, datetime.date(2179, 1, 28)): 0,
 (290, datetime.date(2179, 1, 29)): 1,
 (290, datetime.date(2179, 1, 30)): 2,
 (290, datetime.date(2179, 1, 31)): 3,
 (290, datetime.date(2179, 2, 1)): 4,
 (290, datetime.date(2179, 2, 3)): 5,
 (290, datetime.date(2179, 2, 4)): 6,
 (290, datetime.date(2179, 2, 5)): 7,
 (290, datetime.date(2179, 2, 6)): 8,
 (290, datetime.date(2179, 2, 7)): 9,
 (303, datetime.date(2160, 3, 17)): 0,
 (303, datetime.date(2160, 3, 18)): 1,
 (303, datetime.date(2163, 3, 29)): 2,
 (303, datetime.date(2163, 3, 30)): 3,
 (303, datetime.date(2163, 3, 31)): 4,
 (303, datetime.date(2163, 4, 1)): 5,
 (303, datetime.date(2163, 4, 2)): 6,
 (303, datetime.date(2163, 4, 3)): 7,
 (303, datetime.date(2163, 4, 4)): 8,
 (305, datetime.date(2129, 8, 29)): 0,
 (305, datetime.date(2129, 8, 30)): 1,
 (305, datetime.date(2129, 8, 31)): 2,
 (305, datetime.date(2129, 9, 1)): 3,
 (305, datetime.date(2129, 9, 2)): 4,
 (305, datetime.date(2129, 9, 3)): 5,
 (305, datetime.date(2129, 9, 4)): 6,
 (305, datetime.date(2129, 9, 5)): 7,
 (305, datetime.date(2129, 9, 6)): 8,
 (305, datetime.date(2129, 9, 7)): 9,
 (308, datetime.date(2135, 10, 10)): 0,
 (308, datetime.date(2135, 10, 11)): 1,
 (308, datetime.date(2135, 10, 12)): 2,
 (308, datetime.date(2135, 10, 13)): 3,
 (308, datetime.date(2135, 10, 14)): 4,
 (308, datetime.date(2135, 10, 15)): 5,
 (308, datetime.date(2135, 10, 16)): 6,
 (308, datetime.date(2135, 10, 17)): 7,
 (308, datetime.date(2135, 10, 18)): 8,
 (308, datetime.date(2135, 10, 19)): 9,
 (323, datetime.date(2119, 10, 4)): 0,
 (323, datetime.date(2119, 10, 5)): 1,
 (323, datetime.date(2119, 10, 6)): 2,
 (323, datetime.date(2120, 1, 11)): 3,
 (323, datetime.date(2120, 1, 12)): 4,
 (323, datetime.date(2120, 1, 13)): 5,
 (323, datetime.date(2120, 1, 14)): 6,
 (323, datetime.date(2120, 1, 15)): 7,
 (323, datetime.date(2120, 1, 16)): 8,
 (323, datetime.date(2120, 1, 17)): 9,
 (328, datetime.date(2157, 2, 3)): 0,
 (328, datetime.date(2157, 2, 4)): 1,
 (328, datetime.date(2157, 2, 5)): 2,
 (328, datetime.date(2157, 2, 6)): 3,
 (328, datetime.date(2157, 2, 7)): 4,
 (328, datetime.date(2157, 3, 24)): 5,
 (328, datetime.date(2157, 4, 10)): 6,
 (328, datetime.date(2157, 4, 11)): 7,
 (328, datetime.date(2157, 4, 21)): 8,
 (328, datetime.date(2157, 5, 2)): 9,
 (330, datetime.date(2133, 3, 15)): 0,
 (330, datetime.date(2133, 3, 16)): 1,
 (330, datetime.date(2133, 3, 17)): 2,
 (330, datetime.date(2133, 3, 18)): 3,
 (330, datetime.date(2133, 3, 19)): 4,
 (330, datetime.date(2133, 3, 20)): 5,
 (330, datetime.date(2133, 3, 21)): 6,
 (330, datetime.date(2133, 3, 22)): 7,
 (330, datetime.date(2133, 3, 23)): 8,
 (330, datetime.date(2133, 3, 24)): 9,
 (346, datetime.date(2148, 12, 7)): 0,

In [89]:
dic[252]

array([datetime.date(2133, 4, 23), datetime.date(2133, 8, 12),
       datetime.date(2133, 8, 15), datetime.date(2133, 8, 16),
       datetime.date(2133, 8, 17), datetime.date(2133, 8, 18),
       datetime.date(2133, 8, 19), datetime.date(2133, 10, 28),
       datetime.date(2133, 12, 25), datetime.date(2134, 2, 26)],
      dtype=object)

In [88]:
# 0~9까지 다시 만들기
# 이 경우 튜플리스트 부터 만들고 idx는 나중에 붙여.
# 튜플리스트 만들기
t_ = []
for i in df.index.unique():
    i
    for j in range(10):
        if len(dic[i]) != 9:
            t_.append((i, 0))
            
        elif len(dic[i]) == 9:
#             j
#         dic[i][j]
            t_.append((i, dic[i][j]))
        
t_
# # idx dic 만들기
# dic_sub_charttime2idx = {}

# c = 0
# for i in range(len(t)):
#     k = len(dic[t[i][0]]) - 1
    
#     if i == 0 or t[i][0] != t[i-1][0]:
#         c = 0
#         dic_sub_charttime2idx[t[i]] = c
#         c += 1

#     elif t[i][0] == t[i-1][0]:
#         dic_sub_charttime2idx[t[i]] = c
#         c += 1

9

21

31

IndexError: index 9 is out of bounds for axis 0 with size 9

In [21]:
# 체크 셀
df_ = df.reset_index()
len(df_)
df_['FLAG'].value_counts()

a=df_[df_['FLAG']=='delta']
# df_.drop(df_[df_['FLAG']=='delta'])

df_=df_.drop(index=a.index,axis=0)
df_['FLAG'].value_counts()

9350027

0        5927201
1        3404491
delta      18335
Name: FLAG, dtype: int64

0    5927201
1    3404491
Name: FLAG, dtype: int64

# 최종 3차원 array 생성

In [22]:
x = np.zeros((7799,690,10)) #690행, 10열, 레이어: 7799
# x
df_ = df.reset_index()

for i in range(len(df_)):
#     df_.iloc[i,3]
#     if i == 2:
#         break
    if df_.iloc[i,3] == 'delta':
        pass
    else:
        sub, item, charttime = int(df_.iloc[i,0]), int(df_.iloc[i,2]), df_.iloc[i]['CHARTTIME']
        sub_idx = dic_sub2idx[sub]
        item_idx = dic_item2idx[item]
        if (sub, charttime) not in dic_sub_charttime2idx:
            continue
        else:
            time_idx = dic_sub_charttime2idx[(sub, charttime)]
#             print(sub, charttime, time_idx) #idx가 계속 0이 나올 수가 있나? index인데..?#-> 각각과 세트인 itemid가 다 달라서 그런건가? ==> ㅇㅇ
            abnormal = df_.iloc[i,3]
            x[sub_idx, item_idx, time_idx] = abnormal

KeyboardInterrupt:

In [45]:
x.shape
(x==1).sum()

(7799, 690, 10)

742746

In [22]:
# 수정중인 cell
x = np.zeros((7799,690,10)) #690행, 10열, 레이어: 7799
x
df_ = df.reset_index()
df_

for i in range(len(df_)):
#     print('#############',i)
# #     print(df_.iloc[i])
    if df_.iloc[i,3] == 'delta':
        pass
    else:
        sub, item, charttime = int(df_.iloc[i,0]), int(df_.iloc[i,2]), df_.iloc[i]['CHARTTIME']
# #         print("$~~~~~~~~~~~~~~~$")
# #         print(sub, item, charttime)
        sub_idx = dic_sub2idx[sub]
        item_idx = dic_item2idx[item]
# #         print(sub_idx, item_idx) # itemid 정렬된 순서대로 idx 매김.
        
        if (sub, charttime) not in dic_sub_charttime2idx: # 마지막 기록으로부터 10일 이내가 아니면
            continue # 지나가
        else:
            time_idx = dic_sub_charttime2idx[(sub, charttime)]
#             print(df_.iloc[i])
#             print("$~~~~~~~~~~~~~~~$")
#             print(sub, item, charttime)
#             print(sub_idx, item_idx) # itemid 정렬된 순서대로 idx 매김.
            
#             print("$~~~~~~~~~~~~~~~$")
#             print(sub, charttime, time_idx) #idx가 계속 0이 나올 수가 있나? index인데..? #-> 각각과 세트인 itemid가 다 달라서 그런건가? ==> ㅇㅇ
            abnormal = df_.iloc[i,3]
            x[sub_idx, item_idx, time_idx] = abnormal
#             print("")
#             print('********************')
#             print(sub_idx, item_idx, time_idx)
#             print(abnormal)
#             print("")
#             print("")

array([[[0., 0., 0., ..., 0., 0., 0.],
        [0., 0., 0., ..., 0., 0., 0.],
        [0., 0., 0., ..., 0., 0., 0.],
        ...,
        [0., 0., 0., ..., 0., 0., 0.],
        [0., 0., 0., ..., 0., 0., 0.],
        [0., 0., 0., ..., 0., 0., 0.]],

       [[0., 0., 0., ..., 0., 0., 0.],
        [0., 0., 0., ..., 0., 0., 0.],
        [0., 0., 0., ..., 0., 0., 0.],
        ...,
        [0., 0., 0., ..., 0., 0., 0.],
        [0., 0., 0., ..., 0., 0., 0.],
        [0., 0., 0., ..., 0., 0., 0.]],

       [[0., 0., 0., ..., 0., 0., 0.],
        [0., 0., 0., ..., 0., 0., 0.],
        [0., 0., 0., ..., 0., 0., 0.],
        ...,
        [0., 0., 0., ..., 0., 0., 0.],
        [0., 0., 0., ..., 0., 0., 0.],
        [0., 0., 0., ..., 0., 0., 0.]],

       ...,

       [[0., 0., 0., ..., 0., 0., 0.],
        [0., 0., 0., ..., 0., 0., 0.],
        [0., 0., 0., ..., 0., 0., 0.],
        ...,
        [0., 0., 0., ..., 0., 0., 0.],
        [0., 0., 0., ..., 0., 0., 0.],
        [0., 0., 0., ..., 0., 0., 0.]],

       [[0., 0., 0., ..., 0., 0., 0.],
        [0., 0., 0., ..., 0., 0., 0.],
        [0., 0., 0., ..., 0., 0., 0.],
        ...,
        [0., 0., 0., ..., 0., 0., 0.],
        [0., 0., 0., ..., 0., 0., 0.],
        [0., 0., 0., ..., 0., 0., 0.]],

       [[0., 0., 0., ..., 0., 0., 0.],
        [0., 0., 0., ..., 0., 0., 0.],
        [0., 0., 0., ..., 0., 0., 0.],
        ...,
        [0., 0., 0., ..., 0., 0., 0.],
        [0., 0., 0., ..., 0., 0., 0.],
        [0., 0., 0., ..., 0., 0., 0.]]])

         SUBJECT_ID   CHARTTIME  ITEMID FLAG  EXPIRE_FLAG
0                 9  2149-11-09   50856    0            1
1                 9  2149-11-09   50868    0            1
2                 9  2149-11-09   50879    0            1
3                 9  2149-11-09   50880    0            1
4                 9  2149-11-09   50882    1            1
...             ...         ...     ...  ...          ...
9350022       99985  2182-03-14   51006    1            0
9350023       99985  2182-03-14   51146    0            0
9350024       99985  2182-03-14   51200    0            0
9350025       99985  2182-03-14   51221    1            0
9350026       99985  2182-03-14   51222    1            0

[9350027 rows x 5 columns]

In [36]:
x[0, 76, 0]

0.0

# lstm 돌리기

In [54]:
from sklearn.preprocessing import MinMaxScaler


import warnings
warnings.filterwarnings(action='ignore')

import math

from keras.models import Sequential
from keras.layers import Dense, LSTM, Dropout
from sklearn.preprocessing import MinMaxScaler
from sklearn.metrics import mean_squared_error
import pickle
import gzip

## 최종 arr(x) 생성 시간 check

In [54]:
import time
start = time.time()  # 시작 시간 저장
print(start)

x = np.zeros((7799,690,10)) #690행, 10열, 레이어: 7799
df_ = df.reset_index()

for i in range(len(df_)):
    if df_.iloc[i,3] == 'delta':
        pass
    else:
        sub, item, charttime = int(df_.iloc[i,0]), int(df_.iloc[i,2]), df_.iloc[i]['CHARTTIME']
        sub_idx = dic_sub2idx[sub]
        item_idx = dic_item2idx[item]
        if (sub, charttime) not in dic_sub_charttime2idx:
            continue
        else:
            time_idx = dic_sub_charttime2idx[(sub, charttime)]
            abnormal = df_.iloc[i,3]
            x[sub_idx, item_idx, time_idx] = abnormal

            
print("time :", time.time() - start) 
x.shape

1627109093.838433

KeyboardInterrupt:

## 3dim array 파일로 저장

In [47]:
type(x)

numpy.ndarray

### 방법 1 - np.save / np.load - 용량 큼 (약 410MB)

In [27]:
# save
np.save("3d_array_k.npy", x)
# load
train = np.load("3d_array_k.npy")

In [28]:
train.shape

(7799, 690, 10)

### 방법 2 - pickle, gzip - 용량 작음 (약 1MB)

In [52]:
import pickle
import gzip

# save and compress.
with gzip.open('3d_array_k.pickle', 'wb') as f:
    pickle.dump(x, f)

In [31]:
# load and uncompress.
with gzip.open('3d_array_k.pickle','rb') as f:
    x_data = pickle.load(f)

In [32]:
x_data.shape

(7799, 690, 10)

# Label 생성

In [70]:
len(patient['EXPIRE_FLAG'])
label = patient['EXPIRE_FLAG'].reshape(,1)
label

SyntaxError: invalid syntax (<ipython-input-70-602f88be3759>, line 2)

In [66]:
#이건 어차피 용량 작으므로 np.save/load 사용하여 저장
# save
np.save("3d_array_label_k.npy", label)
# load
yyy = np.load("3d_array_label_k.npy")

In [69]:
yyy

array([0, 0, 1, ..., 0, 0, 0])